<html>
	<head>
		<script type="text/javascript" th:src="@{/js/main.js}"></script>
	</head>
	<body id='area'>
		<table>
			<tr>
				<td><a href='index'>inicio</a></td>
			</tr>
			<th:block th:each="jugador:${partida.jugadores}">
				<tr>
					<td th:text="${jugador.nombre}"></td>
				</tr>
			</th:block>
			<tr>
				<td th:text="${juego.turno}"></td>
			</tr>
		</table>
		<div id='jugador' th:text="${jugador.info}" th:info="${jugador.enTurno}" style='height:20px'></div>
		<table>
			<tr>
				<td width='380px' height='380px'>
					<span th:replace="~{juego::juego}"></span>
				</td>
				<td width='200px'>
					<span th:replace="~{promo::promo}" style='border:1px solid blue'></span>
				</td>
			</tr>
		</table>
		<table th:if="${partida.esComputadora()||partida.jugadores.get(0)==partida.jugadores.get(1)}">
			<tr>
				<td>
					<input value='inicio' type='button' onclick='inicio(this);'/>
				</td>
				<td>
					<input value='retroceder' type='button' onclick='retroceder(this);'/>
				</td>
				<td>
					<input value='avanzar' type='button' onclick='avanzar(this);'/>
				</td>
			</tr>
		</table>
		<textarea th:text="${juego.movimientos}">
		</textarea>
		<span id='dep'></span>
	</body>
</html>