<svg th:fragment="juego" width='100%' height='100%' th:info="${juego.turno}">
	<th:block th:each="casilla:${T(x.vista.VistaJuego).casillas()}">
		<rect th:x="${juego.f(casilla.fila)*45}" th:y="${juego.c(casilla.columna)*45}" width="45" height="45" th:fill="${T(x.vista.VistaJuego).color(casilla.color)}" th:id="${'c'+casilla.fila+casilla.columna}" onclick='click(this)' th:fila='${casilla.fila}' th:columna='${casilla.columna}'/>
	</th:block>
	<th:block th:each="ficha:${juego.fichas}">
		<g th:transform="'translate('+${(juego.f(ficha.fila))*45}+','+${juego.c(ficha.columna)*45}+')'" th:insert="~{fichas::f__${ficha.tipo}__}" th:fill="${T(x.vista.VistaJuego).color(ficha.color)}" onclick='click(this)' th:fila='${ficha.fila}' th:columna='${ficha.columna}' th:tipo='${ficha.tipo}' th:color='${ficha.color}'>
		</g>
	</th:block>
</svg>
<span th:text="${juego.info}"></span>