<html>
	<body>
		<div th:text="${juego}"></div>
		<div th:text="${juego.tablero}"></div>
		<table>
			<tr th:each="fila:${juego.tablero}">
				<td th:each="ficha:${fila}">
					<!--iframe src="@{/svg(tipo=${ficha.tipo},color=${ficha.color})}"></iframe-->
					<!--div style="border:1px blue solid" th:text="@{/svg(tipo=${ficha.tipo},color=${ficha.color})}"></div-->
					<iframe width='45' height='45' src="/svg?tipo=0&color=0"></iframe>
					<!--img src="/svg?tipo=0&color=0"></img-->
				</td>
			</tr>
		</table>
	</body>
</html>