<html>
	<body>
		<table>
			<tr th:each="partida:${partidas}">
				<td>
					<a th:href="@{/unirse(nombre=${partida.nombre})}" th:text="${partida.nombre}"></a>
				</td>
			</tr>
		</table>
	</body>
</html>