<svg th:fragment="promo" width='100%' height='190px' id='promo' style='display:none'>
	<rect th:x="${0}" th:y="${0*45}" width="45" height="45" th:fill="${T(x.vista.VistaJuego).color(3)}" onclick='clickp(this)' tipo='2'/>
	<rect th:x="${0}" th:y="${1*45}" width="45" height="45" th:fill="${T(x.vista.VistaJuego).color(3)}" onclick='clickp(this)' tipo='5'/>
	<rect th:x="${0}" th:y="${2*45}" width="45" height="45" th:fill="${T(x.vista.VistaJuego).color(3)}" onclick='clickp(this)' tipo='3'/>
	<rect th:x="${0}" th:y="${3*45}" width="45" height="45" th:fill="${T(x.vista.VistaJuego).color(3)}" onclick='clickp(this)' tipo='4'/>
	<g th:transform="'translate('+${0}+','+${0*45}+')'" th:insert="~{fichas::f2}" th:fill="${T(x.vista.VistaJuego).color(0)}" onclick='clickp(this)' tipo='2'>
	</g>
	<g th:transform="'translate('+${0}+','+${1*45}+')'" th:insert="~{fichas::f5}" th:fill="${T(x.vista.VistaJuego).color(0)}" onclick='clickp(this)' tipo='5'>
	</g>
	<g th:transform="'translate('+${0}+','+${2*45}+')'" th:insert="~{fichas::f3}" th:fill="${T(x.vista.VistaJuego).color(0)}" onclick='clickp(this)' tipo='3'>
	</g>
	<g th:transform="'translate('+${0}+','+${3*45}+')'" th:insert="~{fichas::f4}" th:fill="${T(x.vista.VistaJuego).color(0)}" onclick='clickp(this)' tipo='4'>
	</g>
</svg>
