<tr tipo='maestroActividad'>
	<td>
		<input type='button' onclick='completarTarea(this,xrequerimientox,xtipox);'/>
	</td>
	<td>
		<input type='radio' name='tareaEjecucion'/>
	</td>
	<td>
		xtipox
	</td>
	<td>
		xdescripcionx
	</td>
	<td>
		xestadox
	</td>
</tr>
<tr>
	<td colspan='5' align='center'>
		<table tipo='listaDatosActividad'>
			xlistaDatosActividadx
		</table>
	</td>
</tr>