<tr>
	<td>
		<table border='1'>
			<tr>
				<td colspan='2'>
					xnombrex
				</td>
			</tr>
			<tr>
				<td>
					<table tipo='listaActividades'>
						<tr>
							<td>
								Completar
							</td>
							<td>
								Tarea en ejecución
							</td>
							<td>
								Tipo
							</td>
							<td>
								Descripción
							</td>
							<td>
								Estado
							</td>
						</tr>
						xlistaActividadesx
					</table>
				</td>
				<td>
					<table>
						xlistaDatosx
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>