<body>
	<canvas style='width:100%;height:100%' onclick='oc(event)'></canvas>
	<script>
		var tx=10;
		ctx=document.getElementsByTagName('canvas')[0].getContext('2d');
	</script>
	<script>
		function T(v,r,m){
			this.v=v;
			this.r=r;
			this.m=m;
		}
		function Px(t,w,h){
			this.t=t;
			this.w=w;
			this.h=h;
			this.cs=[];
			this.a=(v,r,m)=>{
				this.cs.push(new T(v,r,m));
			}
		}
		problemas=[];
		problemas.push(new Px("tres",7,7));
		problemas[problemas.length-1].a([1,1,1],1);
		problemas[problemas.length-1].a([1,1],0);
		problemas[problemas.length-1].a([0,1,0,0,1,0],0);
		problemas[problemas.length-1].a([0,1,0,1,1,0],1);
	</script>
	<script>
		function ct(w,h){
			let r=document.createElement("table");
			for(let i=0;i<h;i++){
				let f=r.appendChild(document.createElement("tr"));
				for(let j=0;j<w;j++){
					f.appendChild(document.createElement("td"));
				}
			}
			return r;
		}
	</script>
	<script>
		function oc(e){
			var px=[Math.round(event.offsetX/tx),Math.round(event.offsetY/tx)];
			tab.g(px).c();
		}
		dt=.1;
		dis=(a,b)=>{
			r=0;
			for(let i=0;i<a.length;i++){
				r+=(a[i]-b[i])*(a[i]-b[i]);
			}
			return Math.sqrt(r);
		}
		nm=(v)=>{
			for(let i=0;i<v.length;i++){
				v[i]=Math.round(v[i]);
			}
		}
		tab={};
		tab.g=(px)=>{
			return tab[gk(px)]||{c:()=>{}};
		}
		function gk(v){
			return v[0]+":"+v[1];
		}
		function C(){
			this.e=(m,v)=>{
				tab[gk(v[0].p)].e(m,v);
			}
		}
		cx=new C();
		function H(){
			this.c=()=>{
			}
		}
		function P(p){
			this.p=p||[0,0];
			this.v=[0,0];
			this.px=[...p];
			this.m=(t)=>{
				if(dis(this.p,this.px)>=1){
					this.v=[0,0];
					this.p=nm(this.p);
					cx.e("x",[this]);
					return;
				}
				for(let i=0;i<this.p.length;i++){
					this.p[i]+=this.v[i]*t;
				}
			}
		}
		function M(v,p){
			this.v=v;
			this.p=p;
			this.e=(m,v)=>{
				v[0].v=this.v;
				v[0].px=this.p;
			}
		}
		act=()=>{
			bot.m(t);
		}
	</script>
	<script>
		var ia=0;
		function Cnx(){
			this.c=()=>{
				ia=1;
			}
		}
		function Cn(){
			this.e=(m,v)=>{
				v[0].v=[...this.v];
				v[0].px=this.p;
			}
		}
		tab["1:1"]={c:()=>{
			console.log(this);
		}};
	</script>
</body>