<body>
	<div></div>
	<div onclick='ch()'>
		<input type='radio' name='tipo' value='0'/>Guitarra Líder
		<input type='radio' name='tipo' value='1'/>Guitarra Rítmica
		<input type='radio' name='tipo' value='2'/>Bajo
		<input type='radio' name='tipo' value='3'/>Acordes
		<input type='radio' name='tipo' value='4'/>Instrumental
		<input type='radio' name='tipo' value='5'/>Original
	</div>
	<div></div>
	<button onclick='utr()'>></button>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src='/js/prows.js'></script>
	<script src='/js/gen.js'></script>
	<script>
		itrx=false;
		tipo=localStorage.getItem('tipo');
		ID=localStorage.getItem('ID');
		lo=1*localStorage.getItem('o');
		idsesion=-1;
		document.getElementsByTagName('div')[0].innerHTML=ID+":"+lo;
		tra=-2;
		var e=0;
		try{
			document.getElementsByTagName('input')[tipo].checked=true;
		}catch(e){
		}
		function utr(){
			itrx=true;
		}
		function ch(){
			for(let i=0;i<document.getElementsByTagName('input').length;i++){
				if(document.getElementsByTagName('input')[i].checked){
					tipo=document.getElementsByTagName('input')[i].value;
					localStorage.setItem('tipo',tipo);
					e=1;
					break;
				}
			}
		}
		function lr(){
			e=3;
			play();
			setTimeout(stop,300);
			console.log('Listo para reproducir');
		}
		if(tipo!=null){
			e=1;
		}
		setInterval(()=>{
			if(tipo!=null&&itrx){
				if(e==0){
					e=1;
				}
				post('/cliente/r',{e:e,tipo:tipo,id:ID,ids:idsesion},(x)=>{
					e=x.e;
					idsesion=x.ids;
					if(x.u){
						stop();
						console.log(x.u);
						pro(x);
					}
					if(x.tr>0&&tra!=x.tr){
						tra=x.tr;
						let tx=x.tr-(new Date().getTime()+lo);
						if(tx>0){
							setTimeout(()=>{
								seek((new Date().getTime()+lo-x.tr));
								play();
							},tx);
						}else{
							seek((new Date().getTime()+lo-x.tr));
							play();
						}
					}
				})
			}
		},1000);
	</script>
</body>