<body>
	ID:<input type='text' onchange='idc(event,this)'/>
	<br>
	Offset:<input type='text' onchange='cof(this)'/>
	<input id='ran' type="range" min="10" max="1000" value="100"/>
	<div id='con'></div>
	<button style='width:200px;height:200px;background-color:#333333' onclick="rp1(new Date().getTime())">1</button>
	<button style='width:200px;height:200px;background-color:#333333' onclick="rp2(new Date().getTime())">2</button>
	<br>
	<a href='/cliente/main.html'>Main<a>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/timeline.min.js"></script>
	<script src='/js/prows.js'></script>
	<script src='/js/gen.js'></script>
	<script>
		ID=localStorage.getItem('ID');
		document.getElementsByTagName('input')[0].value=ID;
		document.getElementsByTagName('input')[1].value=localStorage.getItem('o');
		function idc(e,x){
			ID=x.value;
			localStorage.setItem('ID',ID);
			post('/cliente/l',{id:ID},x=>{
				localStorage.setItem('o',x.o);
				document.getElementsByTagName('input')[1].value=x.o;
			});
		}
		function cof(e){
			localStorage.setItem('o',e.value*1);
			post('/cliente/g',{'id':ID,o:localStorage.getItem('o')*1},x=>{});
		}
		pro({u:'/c/cli.mp3',t:'a'},'#con','#ran');
		t=[];
		function rp1(tx){
			t[0]=tx;
			play();
		}
		function rp2(tx){
			t[1]=tx;
			post('/cliente/to',{t:t},x=>{
				localStorage.setItem('o',x.o);
				document.getElementsByTagName('input')[1].value=localStorage.getItem('o');
				post('/cliente/g',{'id':ID,o:x.o},x=>{});
			});
		}
		function lr(){
		}
	</script>
</body>