<body>
	<button style='width:300px;height:300px;background-color:#333333' onclick="r(event,new Date().getTime())">O</button><br>
	<input/>
	<input/>
	<input/>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src='/js/prows.js'></script>
	<script>
		function r(e,t){
			tas=t;
			play();
		}
		function lr(){
		}
		pro({u:'/c/karaoke/Alexander%20Sing_backing.mp3',t:'a'});
		setInterval(()=>{
			tb=getTime();
			ta=new Date().getTime()-tas;
			//seek(ta);
			document.getElementsByTagName('input')[0].value=ta;
			document.getElementsByTagName('input')[1].value=tb;
			document.getElementsByTagName('input')[2].value=ta-tb;
			if(Math.abs(ta-tb)<10){
				sk=false;
			}
		},1000);
		setTimeout(()=>{
			seek(new Date().getTime()-tas+50);
		},5333);
	</script>
</body>