<body>
	ID<input type='text' onchange='idc(event,this)'/>
	<br>
	<input type='text' onchange='cof(this)'/>
	<br>
	<button style='width:300px;height:300px;background-color:#333333' onclick="r(event,new Date().getTime())">O</button>
	<br>
	<a href='/cliente/main.html'>Main<a>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src='/js/prows.js'></script>
	<script src='/js/gen.js'></script>
	<script>
		ID=localStorage.getItem('ID');
		document.getElementsByTagName('input')[0].value=ID;
		document.getElementsByTagName('input')[1].value=localStorage.getItem('o');
		function idc(e,x){
			ID=x.value;
			localStorage.setItem('ID',ID);
			post('/cliente/l',{id:ID},x=>{
				localStorage.setItem('o',x.o);
				document.getElementsByTagName('input')[1].value=x.o;
			});
		}
		function cof(e){
			localStorage.setItem('o',e.value*1);
			post('/cliente/g',{'id':ID,o:localStorage.getItem('o')*1},x=>{});
		}
		function r(e,t){
			play();
			post('/cliente/time',{'id':ID,'t':t},(x)=>{
				let tf=new Date().getTime();
				if(!x.o){
					x.o=x.ts-((t+tf)/2);
				}
				localStorage.setItem('o',x.o);
				document.getElementsByTagName('input')[1].value=x.o;
				post('/cliente/g',{'id':ID,o:x.o},x=>{});
			});
		}
		function lr(){
		}
		pro({u:'/c/karaoke/Alexander%20Sing_backing.mp3',t:'a'});
	</script>
</body>