<body>
	<textarea>
	</textarea>
	<script>
/*
allow pasting
Chordify.song.chords
*/
	d=;
	</script>
	<script>
		function fx(t){
			return t.replace("min","m").replace("maj7","M7").replace("maj","").replace(":","");
		}
		r="";
		a="$";
		for(var i=0;d[i];i++){
			var x=fx(d[i].handle);
			if(x!=a){
				r+=d[i].from+"\t"+d[i].to+"\t"+x+"\n";
				a=x;
			}else{
				r+=d[i].from+"\t"+d[i].to+"\t\n";
			}
		}
		document.getElementsByTagName('textarea')[0].value=r;
		console.log("fin:"+i);
	</script>
</body>