<body>
	<div id='con1'></div>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script>
		//import WaveSurfer from 'https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.esm.js'
		const wavesurfer=WaveSurfer.create({url:'/c/karaoke/Alexander%20Sing_backing.mp3',container:'#con1'});
		wavesurfer.play();
	</script>
</body>