<body>
	<button onclick='onc()'>></button>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script>
		//import WaveSurfer from 'https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.esm.js'
		const wavesurfer=WaveSurfer.create({url:'/c/Annie.mp4',container:document.createElement('div')});
		function onc(){
			wavesurfer.play();
		}
	</script>
</body>