<body>
	<input id='ran' type="range" min="10" max="1000" value="100"/>
	<div id='con'></div>
	<button onclick='onc()'>></button>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/timeline.min.js"></script>
	<script>
		TimelinePlugin=WaveSurfer.Timeline;
		const wavesurfer=WaveSurfer.create({url:'/c/karaoke/Alexander%20Sing_vocals.mp3',container:'#con',minPxPerSec:100,plugins:[TimelinePlugin.create()],interact:false});
		function onc(){
			wavesurfer.play();
		}
		wavesurfer.once('decode',()=>{
			const slider=document.querySelector('input[type="range"]');
			slider.addEventListener('input',(e)=>{
				wavesurfer.zoom(e.target.valueAsNumber);
			});
		});
	</script>
</body>