<body>
	<input id='tablaBuscar'/><input type='button' onclick='buscar()'/><input type='button' onclick='mostrarTodo();'/>
	<div id='areaGrafico'>
		<div id='graficoTablaCampos'>
			<table border='0' idx='repetibleCampos'>
				<tr>
					<td>
						Nombre
					</td>
					<td>
						Tipo
					</td>
				</tr>
			</table>
		</div>
		<div id='graficoTabla'>
			<span onclick='mostrarCampos(this,"XxxX")' style="border:1px solid blue" tabla='Tabla'>Nombre</span>
		</div>
		<div id='graficoReferencia'>
			<table border='1' tipo='referencia'>
				<tr>
					<td>
						Tabla
					</td>
					<td>
						<table>
							<tr>
								<td>
									<input type='button' onclick='mostrarH(this);'/>
								</td>
								<td>
									Padres
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style='display:none' tipo='contenedor'>
					<td>
					</td>
					<td>
						Hijos
					</td>
				</tr>
			</table>
		</div>
		<div id='graficoPadres'>
			<table border='0'>
				<tr idx='repetibleGraficoPadres'>
					<td>
						Padre
					</td>
				</tr>
			</table>
		</div>
		<div id='graficoHijos1'>
			<table border='0' idx='repetibleGraficoHijos1'>
				<tr>
					<td>
						Hijo
					</td>
				</tr>
			</table>
		</div>
		<div id='graficoHijos'>
			<span idx='repetibleGraficoHijos'>Hijo</span>
		</div>
		<div id='graficoHijos3'>
			<table border='0'>
				<tr idx='repetibleGraficoHijos3'>
					<td>
						Hijo
					</td>
				</tr>
			</table>
		</div>
	</div>
	<script>
		var hash={};
		try{
			function Campo(nombre,tipo){
				this.nombre=nombre;
				this.tipo=tipo;
			}
			function Tabla(nombre){
				if(hash[nombre]){
					alert("Existe:"+nombre+"->"+hash[nombre].nombre);
				}
				hash[nombre]=this;
				this.nombre=nombre;
				this.padres={};
				this.hijos={};
				this.campos={};
				this.cantidadPadres=0;
				this.cantidadHijos=0;
				this.add=function(t){
					if(this.padres[t.nombre]){
						//alert("Ya existe el padre:"+t.nombre+" para la tabla:"+this.nombre);
					}else{
						this.cantidadPadres++;
					}
					this.padres[t.nombre]=t;
					if(t.hijos[this.nombre]){
						//alert("Ya existe el hijo:"+this.nombre+" para la tabla:"+t.nombre);
					}else{
						t.cantidadHijos++;
					}
					t.hijos[this.nombre]=this;
				}
				this.agregarCampo=function(c){
					if(this.campos[c.nombre]){
						alert("Ya existe el campo:"+c.nombre+" en la tabla:"+this.nombre);
					}
					this.campos[c.nombre]=c;
				}
				this.mostrarHijos=function(){
					var resultado="";
					var separador="";
					for(var i in this.hijos){
						resultado+=separador+i;
						separador=",";
					}
					return resultado;
				}
				this.dibujar=function(){
					try{
						var resultado="";
						var tablaCodigo=graficoTablaCodigo.replace("Nombre",this.nombre);
						tablaCodigo=tablaCodigo.replace("XxxX",this.nombre);
						if(this.dibujado){
							//return this.codigoDibujo;
							return tablaCodigo;
						}
						this.dibujado=true;
						var codigoHijos="";
						for(var i in this.hijos){
							codigoHijos+=repetibleHijosCodigo.replace("Hijo",this.hijos[i].dibujar());
						}
						if(codigoHijos==""){
							return tablaCodigo;
						}
						tablaCodigo=tablaCodigo.replace("Tabla",this.nombre);
						var div=document.createElement('div');
						div.getElement=getElement;
						div.innerHTML=graficoHijosCodigo;
						div.getElement("idx","repetibleGraficoHijos").innerHTML=codigoHijos;
						resultado=graficoReferenciaCodigo.replace("Tabla",tablaCodigo);
						resultado=resultado.replace("Hijos",div.innerHTML);
						//resultado=resultado.replace("Padres","");
						//return resultado;
						var codigoPadres="";
						for(var i in this.padres){
							codigoPadres+=repetiblePadresCodigo.replace("Padre",this.padres[i].dibujar());
						}
						var div=document.createElement('div');
						div.getElement=getElement;
						div.innerHTML=graficoPadresCodigo;
						div.getElement("idx","repetibleGraficoPadres").innerHTML=codigoPadres;
						//resultado=graficoReferenciaCodigo.replace("Tabla",tablaCodigo);
						resultado=resultado.replace("Padres",div.innerHTML);
						this.codigoDibujo=resultado;
						return resultado;
					}catch(e){
						alert(e.stack);
					}
				}
			}
			function mostrarCampos(elemento,nombre){
				try{
					if(elemento.getAttribute('tabla')=='Tabla'){
						var real=document.getElement('tabla',nombre);
						//elemento.innerHTML=real.innerHTML;
						//return;
						var xer=real;
						while(xer){
							try{
								if(xer.style.display=='none'){
									xer.style.display="";
								}
							}catch(e){
							}
							xer=xer.parentNode;
						}
						real.focus();
						var input=document.createElement('input');
						real.appendChild(input);
						input.focus();
						real.removeChild(input);
						return;
					}
					if(elemento.anterior){
						elemento.innerHTML=elemento.anterior;
						elemento.anterior=null;
						return;
					}
					var tabla=hash[nombre];
					var codigoCampos="";
					for(var i in tabla.campos){
						var campo=tabla.campos[i];
						codigoCampos+=repetibleCamposCodigo.replace("Nombre",campo.nombre).replace("Tipo",campo.tipo);
					}
					if(codigoCampos==""){
						return;
					}
					var div=document.createElement('div');
					div.innerHTML=graficoTablaCamposCodigo;
					div.getElement=getElement;
					div.getElement("idx","repetibleCampos").innerHTML=codigoCampos;
					elemento.anterior=elemento.innerHTML;
					elemento.innerHTML=elemento.innerHTML+div.innerHTML;
				}catch(e){
					alert(e.stack);
				}
			}
			function mostrarH(elementoX){
				var elemento=elementoX;
				try{
					if(elementoX.elemento){
						if(elementoX.elemento.mostrado){
							elementoX.elemento.style.display="none";
							elementoX.elemento.mostrado=false;
						}else{
							elementoX.elemento.style.display="";
							elementoX.elemento.mostrado=true;
						}
						return;
					}
					while(elemento){
						if(elemento.getAttribute('tipo')=='referencia'){
							elementoX.elemento=elemento.rows[1];
							elementoX.elemento.style.display="";
							elementoX.elemento.mostrado=true;
							return;
						}
						elemento=elemento.parentNode;
					}
				}catch(e){
					alert(e.stack);
				}
			}
			function dibujar(){
				var resultado="";
				/*for(var nombre in hash){
					var tabla=hash[nombre];
					if(tabla.cantidadHijos>0&&tabla.cantidadPadres==0){
						//tabla.dibujado=true;
						resultado+=tabla.dibujar();
					}
				}*/
				resultado=FNX_PEDIDOS.dibujar();
				document.getElementById("areaGrafico").innerHTML=resultado;
			}
			function buscar(){
				try{
					var entrada=document.getElementById('tablaBuscar');
					var real=document.getElement('tabla',entrada.value.toUpperCase());
					var xer=real;
					while(xer){
						try{
							if(xer.style.display=='none'){
								xer.style.display="";
							}
						}catch(e){
						}
						xer=xer.parentNode;
					}
					var input=document.createElement('input');
					real.appendChild(input);
					input.focus();
					real.removeChild(input);
				}catch(e){
					alert(e.stack);
				}
			}
			mostrados=false;
			function mostrarTodo(){
				try{
					var elementos=document.getElementsByTagName('tr');
					for(var i=0;i<elementos.length;i++){
						var elemento=elementos[i];
						if(elemento.getAttribute('tipo')=='contenedor'){
							if(!mostrados){
								elemento.style.display="";
								elemento.mostrado=true;
							}else{
								elemento.style.display="none";
								elemento.mostrado=false;
							}
						}
						elemento=elemento.parentNode;
					}
					mostrados=!mostrados;
				}catch(e){
					alert(e.stack);
				}
			}
			function getElement(a,v){
				var els=this.getElementsByTagName("*");
				if(!els){
					alert(this.tagName);
				}
				for(var i=0;i<els.length;i++){
					if(els[i].getAttribute(a)==v){
						return els[i];
					}
				}
			}
			document.getElement=getElement;
			//Inicio
			var graficoTablaCodigo=document.getElementById('graficoTabla').innerHTML;
			var graficoReferenciaCodigo=document.getElementById('graficoReferencia').innerHTML;
			var repetibleHijosCodigo=document.getElement('idx','repetibleGraficoHijos').innerHTML;
			document.getElement('idx','repetibleGraficoHijos').innerHTML="";
			var graficoHijosCodigo=document.getElementById('graficoHijos').innerHTML;
			document.getElementById('graficoHijos').innerHTML="";
			var repetibleCamposCodigo=document.getElement('idx','repetibleCampos').innerHTML;
			var graficoTablaCamposCodigo=document.getElementById('graficoTablaCampos').innerHTML;
			document.getElementById('graficoTablaCampos').innerHTML="";

			var repetiblePadresCodigo=document.getElement('idx','repetibleGraficoPadres').innerHTML;
			document.getElement('idx','repetibleGraficoPadres').innerHTML="";
			var graficoPadresCodigo=document.getElementById('graficoPadres').innerHTML;
			document.getElementById('graficoPadres').innerHTML="";
		}catch(e){
			alert(e.stack);
		}
	</script>
	<script>
		/*try{
			//Tablas
			var FNX_OFICINAS=new Tabla("FNX_OFICINAS");
			var FNX_CLIENTES=new Tabla("FNX_CLIENTES");
			var FNX_PEDIDOS=new Tabla("FNX_PEDIDOS");
			var FNX_SUBPEDIDOS=new Tabla("FNX_SUBPEDIDOS");
			var FNX_SOLICITUDES=new Tabla("FNX_SOLICITUDES");
			//Referencias
			FNX_PEDIDOS.add(FNX_OFICINAS);
			FNX_PEDIDOS.add(FNX_CLIENTES);
			FNX_SUBPEDIDOS.add(FNX_PEDIDOS);
			FNX_SOLICITUDES.add(FNX_SUBPEDIDOS);
			//Campos
			FNX_PEDIDOS.agregarCampo(new Campo("REGISTRO_CUN","VARCHAR2"));
			FNX_PEDIDOS.agregarCampo(new Campo("ESTADO_CUN","VARCHAR2"));
			FNX_PEDIDOS.agregarCampo(new Campo("ID_ORIGEN","VARCHAR2"));
		}catch(e){
			alert(e.stack);
		}*/
	</script>
	<script src='BaseDatos.js'></script>
	<script>
		dibujar();
	</script>
</body>