<body>
	<input id='ran' type="range" min="10" max="1000" value="100"/>
	<div id='con'></div>
	<button style='width:200px;height:200px;background-color:#333333' onclick="rp1(new Date().getTime())">1</button>
	<button style='width:200px;height:200px;background-color:#333333' onclick="rp2(new Date().getTime())">2</button>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/timeline.min.js"></script>
	<script src='/js/prows.js'></script>
	<script src='/js/gen.js'></script>
	<script>
		pro({u:'/c/ser.mp3',t:'a'},'#con','#ran');
		t=[];
		function rp1(tx){
			t[0]=tx;
			play();
		}
		function rp2(tx){
			t[1]=tx;
			post('/admin/to',{t:t},x=>{});
		}
		function lr(){
		}
	</script>
</body>