<body>
	<button style='width:300px;height:300px;background-color:#333333' onclick="r(event,new Date().getTime())">O</button>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src='/js/prows.js'></script>
	<script src='/js/gen.js'></script>
	<script>
		function r(e,t){
			tas=t;
			play();
			post('/admin/time',{'t':t},x=>console.log(x));
		}
		function lr(){
		}
		pro({u:'/c/karaoke/Alexander%20Sing_backing.mp3',t:'a'});
	</script>
</body>