<body>
	<textarea>
0 Mirándote a los ojos, juraría
9 Que tienes algo nuevo que contarme
15 Empieza ya mujer, no tengas miedo
21 Quizá para mañana sea tarde
32 ¿Cómo es él?
35 ¿En qué lugar se enamoró de ti?
40 ¿De dónde es?
43 ¿A qué dedica el tiempo libre? Pregúntale
52 ¿Por qué ha robado un trozo de mi vida?
57 Es un ladrón
02 Que me ha robado todo ¿Y cómo es él?
10 ¿En qué lugar se enamoró de ti?
14 ¿De dónde es?
18 ¿A qué dedica el tiempo libre? Pregúntale
26 ¿Por qué ha robado un trozo de mi vida?
31 Es un ladrón
35 Que me ha robado todo
44 Arréglate mujer, se te hace tarde
51 Y llévate el paraguas, por si llueve
57 Él te estará esperando para amarte
02 Y yo estaré celoso de perderte, y abrígate
11 Te sienta bien ese vestido gris
16 Sonríete
19 Que no sospeche que has llorado, y déjame
28 Que vaya preparando mi equipaje
33 Perdóname
36 Si te hago otra pregunta ¿Y cómo es él?
45 ¿En qué lugar se enamoró de ti?
50 ¿De dónde es?
54 ¿A qué dedica el tiempo libre? Pregúntale
02 ¿Por qué ha robado un trozo de mi vida?
07 Es un ladrón
11 Que me ha robado todo ¿Y cómo es él?
19 ¿En qué lugar se enamoró de ti?
23 ¿De dónde es?
27 ¿A qué dedica el tiempo libre? Pregúntale
35 ¿Por qué ha robado un trozo de mi vida?
40 Es un ladrón
44 Que me ha robado todo
57 fin
	</textarea>
	<script>
		var t=document.getElementsByTagName('textarea')[0].value;
		var p=t.split("\n");
		var a=0;
		var r="\n";
		for(var i=0;i<p.length;i++){
			var x=p[i].split(" ")[0]*1;
			var v=(x-a);
			if(v<0){
				v+=60;
			}
			r+=v+"\n";
			r+=p[i].substring(p[i].indexOf(" ")+1)+"\n";
			a=x;
		}
		console.log(r);
	</script>
</body>