<body>
	<textarea>
0
...
8
You fill up my senses
Like a night in the forest
18
Like the mountains in springtime
Like a walk in the rain
29
Like a storm in the desert
34
Like a sleepy blue ocean
39
You fill up my senses
43
Come fill me again
49
Come let me love you
53
Let me give my life to you
58
Let me drown in your laughter
3
Let me die in your arms
8
Let me lay down beside you
13
Let me always be with you
18
Come let me love you
23
Come love me again
30
mmm
47
mmm
52
Let me give my life to you
57
Come let me love you
02
Come love me again
07
You fill up my senses
12
Like a night in the forest
16
Like the mountains in springtime
21
Like a walk in the rain
26
Like a storm in the desert
32
Like a sleepy blue ocean
37
You fill up my senses
42
Come fill me again
57
	</textarea>
	<script>
		var t=document.getElementsByTagName('textarea')[0].value;
		var p=t.split("\n");
		var a=0;
		var r="\n";
		for(var i=0;i<p.length;i++){
			var x=p[i]*1;
			if(isNaN(x)){
				r+=p[i]+"\n";
			}else{
				var v=(x-a);
				if(v<0){
					v+=60;
				}
				r+=v+"\n";
				a=x;
			}
		}
		console.log(r);
	</script>
</body>