<body>
<textarea id='salida' cols='50' rows='10'>asdfasdfasdfasdfasdfasdfasdfasdf</textarea>
<textarea id='entrada' cols='50' rows='10' onkeydown='tim();' onkeyup='ver();'></textarea>
<br>
<textarea id='estado' cols='104' rows='10' onkeydown='tim();' onkeyup='ver();'></textarea>
<script>
entrada.value='';
function tim()
{
  if(!window.tini)
  {
  tini=(new Date()).getTime();
  estado.value='ini';
  tpul=0;
  }
  else
  {
  tfin=(new Date()).getTime();
  tpul++;
  }
}

function ver()
{
t1=salida.value;
t2=entrada.value;
t1=t1.substring(0,t2.length);
  if(t1!=t2)
  {
  estado.value='Error';
  entrada.value='';
  tini=null;
  }
  else
  {
    if(salida.value==entrada.value)
    {
    estado.value="Caracteres en wpm:\t\t"+(salida.value.length-1)/(tfin-tini)*60000/5+'\n';
    estado.value=estado.value+"Caracteres por segundo:\t\t"+(salida.value.length-1)/(tfin-tini)*1000+'\n';
    estado.value=estado.value+"Pulsaciones en wpm:\t\t"+tpul/(tfin-tini)*60000/5+'\n';
    estado.value=estado.value+"Pulsaciones por segundo:\t"+tpul/(tfin-tini)*1000+'\n';
    estado.value=estado.value+"Tiempo total en segundos:\t"+(tfin-tini)/1000;
    entrada.value='';
    tini=null;
    }
  }
}
</script>
</body>
