<body>
	<input type="file" id="f1" accept="audio/*">
	<button onclick='px(0)'>+</button><br>
	<input type="file" id="f2" accept="audio/*">
	<button onclick='px(1)'>+</button><br>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script>
		p=[];
		tr=0;
		function cf(e,con){
			con=con||document.createElement("div");
			player=WaveSurfer.create({container:con,interact:false});
			const reader=new FileReader();
			reader.onload=(z)=>{
				player.load(z.target.result);
			};
			reader.readAsDataURL(e.target.files[0]);
			p.push(player);
			mod(p);
		}
		function px(i){
			if(i==0){
				tr=Date.now();
			}
			p[i].ti=Date.now();
			p[i].on('play',function(){
				console.log('ti');
				p[i].tx=performance.now();
			});
			p[i].play();
			setTimeout(()=>{
				console.log(p[i].t(),"tra");
				console.log(Date.now()-p[i].ti,performance.now()-p[i].tx);
			},500);
			p[i].t=function(){
				if(!this.tx){
					return 0;
				}
				return performance.now()-this.tx;
			}
			p[i].st=function(t){
				this.tx=performance.now()-t;
				this.setTime(t/1000);
			}
			console.log();
			/*if(i==1){
				setTimeout(()=>{
					p[0].setTime(0);
					p[1].setTime(0);
				},1000);
			}*/
		}
		function mod(p){
		}
		document.getElementById('f1').addEventListener('change',cf);
		document.getElementById('f2').addEventListener('change',cf);
		setInterval(()=>{
			if(tr){
				for(let i=0;i<p.length;i++){
					let df=Math.abs((Date.now()-tr)-p[i].t());
					if(df>=10){
						console.log('ta',df,p[i].t());
						p[i].st((Date.now()-tr)/1000.);
						p[i].c=true;
					}
				}
			}
		},500);
		/*setInterval(()=>{
			if(p.length>=2){
				for(let i=0;i<p.length;i++){
					if(i==0){
						if(p[i].ti){
							//console.log((Date.now()-p[i].ti)-p[i].t());
							console.log((Date.now()-p[i].ti)-p[i].media.currentTime*1000);
						}
					}
				}
			}
		},1000);*/
	</script>
</body>