<body>
	<input type="file" id="f1" accept="audio/*">
	<button onclick='px(0)'>+</button><br>
	<input type="file" id="f2" accept="audio/*">
	<button onclick='px(1)'>+</button><br>
	<input type="file" id="f3" accept="audio/*">
	<button onclick='px(2)'>+</button><br>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script>
		p=[];
		o2=[0,3651,5007];
		tr=0;
		function cf(e,con){
			con=con||document.createElement("div");
			player=WaveSurfer.create({container:con,interact:false});
			const reader=new FileReader();
			reader.onload=(z)=>{
				player.load(z.target.result);
			};
			reader.readAsDataURL(e.target.files[0]);
			p.push(player);
			mod(p);
		}
		function px(i){
			if(i==0){
				tr=Date.now();
			}
			p[i].ti=Date.now();
			p[i].on('play',function(){
				p[i].tx=performance.now();
			});
			if(i==0){
				p[i].play();
			}else{
				setTimeout(()=>{
					p[i].play();
					p[i].setMuted(true);
					p[i].m=true;
				},1000*i);
			}
		}
		function mod(p){
		}
		document.getElementById('f1').addEventListener('change',cf);
		document.getElementById('f2').addEventListener('change',cf);
		document.getElementById('f3').addEventListener('change',cf);
		function fom(i){
			return(Date.now()-tr)-o2[i];
		}
		setInterval(()=>{
			if(tr){
				for(let i=0;i<p.length;i++){
					if(fom(i)>0){
						if(p[i].m){
							p[i].m=false;
							p[i].setMuted(false);
						}
						p[i].setTime(fom(i)/1000.);
					}
				}
			}
		},10000);
	</script>
</body>