<body>
	<div>xxxxx</div>
	<span>p</span><br>
	<input id='ran' type="range" min="10" max="1000" value="100"/>
	<div id='con'></div>
	<button onclick='rp()'>></button>
	<script src="https://unpkg.com/wavesurfer.js@7"></script>
	<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/timeline.min.js"></script>
	<script src='/js/prows.js'></script>
	<script src='/js/gen.js'></script>
	<script>
		listo=0;
		tr=-1;
		function select(n){
			fetch('/admin/select?n='+n).then(x=>x.json()).then(x=>{
				document.getElementsByTagName('div')[0].innerHTML=x.h;
				pro(x,'#con','#ran');
			});
		}
		function lr(){
			listo=1;
		}
		function rp(){
			tr=new Date().getTime()+5000;
			setTimeout(()=>{
				play();
			},tr-new Date().getTime());
		}
		setInterval(()=>{
			get('/admin/r?tr='+tr,x=>{
				x.listo=listo;
				console.log(x);
				document.getElementsByTagName('span')[0].innerHTML=JSON.stringify(x);
			});
		},1000);
	</script>
</body>