<body onkeydown='boku(event,this)'>
	<audio src='Afuera.mp3#t=30.3,31.3' id='n21' preload></audio>
	<script>
		function boku(e,b){
			console.log(e.keyCode);
			if(e.keyCode==65){
				document.getElementById("n21").src="Afuera.mp3#t=30,31";
				document.getElementById("n21").cloneNode(true).play();
			}
			if(e.keyCode==83){
			document.getElementById("n21").src="Afuera.mp3#t=31,32";
				document.getElementById("n21").cloneNode(true).play();
			}
		}
	</script>
</body>