<script src='calc.js'></script>
<script>
	console.log(calc("8/4"));
	console.log(calc("8-4"));
	console.log(calc("1+2+3"));
	console.log(calc("1+2*3"));
	console.log(calc("(1+2+3)*3"));
	console.log(calc("1+1--1"));
	console.log(calc("-1"));
	console.log(calc("(3)*(4)"));
	console.log(calc("(-1)*(-1)"));
	console.log(calc("-123"));
	console.log(calc("12*-1"));
	console.log(calc("-12*-1"));
	console.log(calc("3/-(-5+2)"));
	console.log(calc("((80 - (19)))"));
	console.log(calc("1.3+1.3+1.2+1.2"));
	console.log(calc("(2)/(2-(1))"));
	console.log(calc("(123.45*(678.90 / (-2.5+ 11.5)-(((80 -(19))) *33.25)) / 20) - (123.45*(678.90 / (-2.5+ 11.5)-(((80 -(19))) *33.25)) / 20) + (13 - 2)/ -(-11)"));
</script>



