<body>
	<textarea id='entrada'>
<?xml version="1.0" encoding="UTF-8"?>
<map version="1.9" tiledversion="1.9.2" orientation="orthogonal" renderorder="right-down" width="30" height="20" tilewidth="16" tileheight="16" infinite="0" nextlayerid="2" nextobjectid="1">
 <tileset firstgid="1" source="9445zs.tsx"/>
 <layer id="1" name="Capa de patrones 1" width="30" height="20">
  <data encoding="csv">
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,70,0,0,0,0,0,0,0,0,70,0,0,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,94,230,230,230,230,230,230,230,230,95,119,119,72,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,94,230,230,230,230,230,230,230,230,141,142,142,94,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,94,230,230,230,230,230,230,230,230,141,142,142,94,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,95,119,72,230,230,230,230,230,230,165,166,166,94,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,141,142,94,1,2,2,2,2,3,305,305,305,118,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,141,142,94,25,26,26,26,26,27,305,305,305,144,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,141,142,94,49,51,49,49,51,49,305,305,305,94,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,141,142,94,305,305,305,305,305,305,305,305,305,94,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,141,142,94,305,305,305,305,305,305,305,119,119,96,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,165,166,94,305,71,119,119,119,119,119,142,142,143,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,118,305,118,166,166,166,166,166,166,166,167,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,144,305,168,305,305,234,305,234,305,234,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,144,305,305,305,305,258,305,258,305,258,0,0,0,0,0,0,0,0,0,
0,0,0,0,0,0,0,0,0,0,0,168,305,305,305,305,305,305,305,305,0,0,0,0,0,0,0,0,0,0
</data>
 </layer>
</map>
	</textarea>
	<script>
		var d=[...document.getElementById('entrada').value];
		var n="";
		for(var i=0;i<d.length;i++){
			if(d[i]=='<'){
				continue;
			}
			
		}
	</script>
</body>