<body>
	<script src='DateFormat.js'></script>
	<script src='datosPrueba.js'></script>
	<script src='datos.js'></script>
	<script>
		segundo=1000;
		minuto=60*segundo;
		hora=60*minuto;
		dia=24*hora;
		semana=7*dia;
		codigoDias=['L','M','W','J','V','S','D'];
		function diaSemana(t){
			var resultado=Math.floor(t/dia);
			return (resultado-4)%7;
		}
		function diat(t){
			var resultado=Math.floor(t/dia);
			return resultado*dia+5*hora;
		}
		datos.sort(function(a,b){
			return a[0]-b[0];
		});
		var diai=Math.floor(datos[0][0]/dia);
		var diaf=Math.floor(datos[datos.length-1][0]/dia);
		for(var i=diai;i<=diaf;i++){
			var inicioDia=i*dia+5*hora;
			if(diaSemana(inicioDia)<5){
				datos.push([inicioDia+7*hora+0*minuto,"Hora de entrada"]);
				datos.push([inicioDia+12*hora+30*minuto,"Hora de almuerzo"]);
				datos.push([inicioDia+13*hora+30*minuto,"Fin de almuerzo"]);
				datos.push([inicioDia+17*hora+0*minuto,"Hora de salida"]);
			}
		}
		datos.sort(function(a,b){
			return a[0]-b[0];
		});
	</script>
	<table id='tabla' border='1'>
		<tr tipo='r' valor='v00'>
			<td>
				<input type='checkbox' name='tiempo' value='v01' onclick='realizarMedicion()'/>
			</td>
			<td>
				v02
			</td>
			<td nowrap>v03</td>
			<td celda='duracion'>v05</td>
			<td>
				v04
			</td>
			<td>
				xzx01
			</td>
			<td>
				<input name='grupo' onblur='realizarMedicionGrupal(this)'/>
			</td>
		</tr>
	</table>
	<br>
	<table>
		<tr>
			<td>
				Medición
			</td>
			<td>
				<input id='resultadoMedicion'/>
			</td>
		</tr>
	</table>
	<br>
	<table id='tablaGrupal' border='1'>
		<tr>
			<td>
				X01
			</td>
			<td>
				X02
			</td>
		</tr>
	</table>
	<br>
	<input type='button' value='Exportación bloques' onclick='exportacionBloques()'/>
	<input type='button' value='Exportación seleccionados' onclick='exportacion()'/>
	<textarea id='areaExportacion'></textarea>
	<script>
		function crearTablaPrincipal(){
			var tabla=document.getElementById('tabla');
			var interno="";
			for(var i=0;i<datos.length;i++){
				var reg=tabla.tBodies[0].innerHTML;
				reg=reg.replace("v00",datos[i][0]);
				reg=reg.replace("v01",datos[i][0]);
				reg=reg.replace("v02",datos[i][0]);
				reg=reg.replace("v03",(new Date(datos[i][0])).format("dd/mm/yyyy HH:MM:ss"));
				reg=reg.replace("v04",datos[i][1]);
				reg=reg.replace("xzx01",codigoDias[diaSemana(datos[i][0])]);
				interno=interno+reg;
			}
			tabla.innerHTML=interno;
		}
		crearTablaPrincipal();
		function filaElemento(e){
			var p=e.parentNode;
			while(p){
				if(p.getAttribute('tipo')=='r'){
					return p;
				}
				p=p.parentNode;
			}
		}
		function valorFila(e){
			var p=e.parentNode;
			while(p){
				if(p.getAttribute('tipo')=='r'){
					return p.getAttribute('valor');
				}
				p=p.parentNode;
			}
		}
		function valorFilaSiguiente(e){
			try{
				var p=e.parentNode;
				while(p){
					if(p.getAttribute('tipo')=='r'&&p.tagName.toUpperCase()=='TR'){
						var valor=document.getElementById('tabla').rows[p.rowIndex+1].getAttribute('valor');
						return valor;
					}
					p=p.parentNode;
				}
			}catch(e){
			}
			return null;
		}
		function duracion(e){
			var b=valorFilaSiguiente(e);
			var a=valorFila(e);
			if(b==null)return 0;
			return b-a;
		}
		function realizarMedicion(){
			var tabla=document.getElementById('tabla');
			var chks=tabla.getElementsByTagName('input');
			var resultado=0;
			for(var i=0;i<chks.length;i++){
				if(chks[i].type.toLowerCase()=='checkbox'&&chks[i].checked){
					resultado+=duracion(chks[i]);
				}
			}
			document.getElementById('resultadoMedicion').value=formato(resultado);
		}
		function dosDecimales(v){
			return Math.round(v*100)/100;
		}
		function formato(t){
			return dosDecimales(t/hora);
		}
		function medicionGrupal(){
			var resultado={};
			var els=document.getElementsByName('grupo');
			var total=0;
			for(var i=0;i<els.length;i++){
				if(els[i].value){
					 var dur=duracion(els[i]);
					if(resultado[els[i].value]){
						resultado[els[i].value]+=dur;
					}else{
						resultado[els[i].value]=dur;
					}
					total+=dur;
				}
			}
			resultado["Total"]=total;
			return resultado;
		}
		function crearTablaMedicion(resultado){
			var tabla=document.getElementById('tablaGrupal');
			var interno="";
			for(var i in resultado){
				var reg=regGrupal;
				reg=reg.replace("X01",i);
				reg=reg.replace("X02",formato(resultado[i]));
				interno=interno+reg;
			}
			tabla.innerHTML=interno;
		}
		function realizarMedicionGrupal(){
			crearTablaMedicion(medicionGrupal());
		}
		function actualizacionTablaPrincipal(){
			var tabla=document.getElementById('tabla');
			var elementos=tabla.getElementsByTagName('td');
			for(var i=0;i<elementos.length;i++){
				if(elementos[i].getAttribute('celda')=='duracion'){
					elementos[i].innerHTML=(formato(duracion(elementos[i]))+"").replace(".",",");
				}
			}
		}
		function exportacion(){
			var tabla=document.getElementById('tabla');
			var chks=tabla.getElementsByTagName('input');
			var resultado=0;
			var resultado="";
			for(var i=0;i<chks.length;i++){
				if(chks[i].type.toLowerCase()=='checkbox'&&chks[i].checked){
					var fila=filaElemento(chks[i]);
					resultado+=redondeoFechaFormato(fila.cells[1].innerHTML)+"\t"+(redondeo01(fila.cells[3].innerHTML)+"").replace(".",",")+"\n";
				}
			}
			document.getElementById('areaExportacion').value=resultado;
		}
		function exportacion(){
			var tabla=document.getElementById('tabla');
			var chks=tabla.getElementsByTagName('input');
			var resultado=0;
			var resultado="";
			for(var i=0;i<chks.length;i++){
				if(chks[i].type.toLowerCase()=='checkbox'&&chks[i].checked){
					var fila=filaElemento(chks[i]);
					resultado+=redondeoFechaFormato(fila.cells[1].innerHTML)+"\t"+(redondeo01(fila.cells[3].innerHTML)+"").replace(".",",")+"\n";
				}
			}
			document.getElementById('areaExportacion').value=resultado;
		}
		function exportacionBloques(){
			try{
				var bloque="";
				var fecha=0;
				var fechaAnterior=-1;
				var resultado="";
				var els=document.getElementsByName('grupo');
				var entrar=false;
				for(var i=0;i<els.length;i++){
					if(els[i].value||entrar){
						entrar=true;
						if(els[i].value!=bloque){
							var nfecha=redondeoFecha(valorFila(els[i]));
							if(fecha){
								resultado+=redondeoFechaFormato(fecha)+"\t"+(formato(nfecha-fecha)+"").replace(".",",")+"\n";
							}
							if(els[i].value){
								bloque=els[i].value;
								fecha=nfecha;
							}else{
								entrar=false;
								fecha=0;
							}
						}else{
						}
					}
				}
				document.getElementById('areaExportacion').value=resultado;
			}catch(e){
				alert(e.stack);
			}
		}
		function redondeo01(v){
			v=v.replace(',','.');
			return Math.round(v*10)/10;
		}
		function redondeoFecha(f){
			var d=6*minuto;
			var m=Math.round(f/d)*d;
			return m;
		}
		function redondeoFechaFormato(f){
			var d=6*minuto;
			var m=Math.round(f/d)*d;
			return (new Date(m)).format("dd/mm/yyyy HH:MM:ss");
		}
	tabla=document.getElementById('tablaGrupal');
	regGrupal=tabla.tBodies[0].innerHTML;
	realizarMedicionGrupal();
	actualizacionTablaPrincipal();
	</script>
</body>