<script src='fourSquares.js'></script>
<script src='test.js'></script>
<script src='BigIntMath.js'></script>
<script>
	/*for(var i=1;i<=9;i++){
		console.log(i+":"+((i*i)%10));
	}asdf*/
//console.log(BigIntMath.sqrt(123456789012345678901234567890n));
	//console.log(test(fourSquares(1234567890n)));
	//console.log(test([3n,3n,2n,1n]));
	//console.log(test([4n,2n,1n,1n,1n]));
	//console.log(test(fourSquares(3n)));
	/*console.log(s(16n));
	console.log(test(f(32n)));
	console.log(test(f(32n,4n)));*/
	//console.log(test(fourSquares(106369249365575352836589875696130383747n)));//3415629511014667999n
	/*var r=t2(300);
	for(var i=0;i<r.length;i++){
		console.log(r[i][1]+":"+r[i][0]);
	}*/
	/*var x=f((2n**1024n+100540453434234234n),0n)
	console.log(f((2n**1024n+100540453434234234n)-18n,0n));asdf
	console.log(t1(10));
	console.log("|"+s((2n**1024n)/4n)+"|");
	console.log(test(fourSquares(32n)));asdf
	var m=0;*/
	for(var i=10000n;i<10000n+100n;i++){
		var r=f(i);
		var x=r.length;
		if(x>5||true){
			console.log(i+":"+r);
			m=x;
		}
	}
</script>