<table border='1'>
	<tr>
		<td>
			PROCEDURE Crear_Equipos
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td>
			<strong>C_CARGAR_EQUIPOS</strong>CURSOR
<br>
<strong>V_CAMBIO</strong>
<br>
<strong>V_ESTADO_REFERENCIA</strong>
<br>
<strong>V_TIPO_EQUIPO</strong>
<br>
<strong>C_EXISTE_EQUIPO</strong>CURSOR
<br>
<strong>C_REFERENCIA_EQUIPO</strong>CURSOR
<br>
<strong>W_EXISTE_EQUIPO</strong>
<br>
<strong>W_TOTAL_REGISTROS</strong>
<br>
<strong>W_TOTAL_INCON</strong>
<br>
<strong>W_INCONSISTENTE</strong>
<br>
<strong>W_CONTADOR</strong>
<br>
<strong>V_MENSAJE</strong>
<br>
<strong>V_CARGAR_COMO</strong>
<br>
<strong>V_SERIAL_EQUIPO</strong>
<br>
<strong>V_MAC_EQUIPO</strong>
<br>
<strong>V_ESTADO_EQU</strong>
<br>
<strong>V_EQUIPO_PPAL</strong>
<br>
<strong>V_SERVICIO</strong>
<br>
<strong>V_PRODUCTO</strong>
<br>
<strong>V_INCON_VALOR</strong>
<br>
<strong>V_REG_INSERT</strong>
<br>
<strong>V_FECHA_ESTADO</strong>
<br>
<strong>V_MENSAJE_ERROR</strong>
<br>
<strong>E_ERROR_MARCA</strong>
<br>
<strong>C_REFERENCIAS_CARGA</strong>CURSOR
<br>
<strong>C_DATOS_REFERENCIA</strong>CURSOR
<br>

		</td>
	</tr>
	<tr>
		<td>
			<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  w_inconsistente THEN
		</td>
	</tr>
	<tr>
		<td>
			RAISE E_ERROR_MARCA;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
V_REG_INSERT:=0;
<br>
W_TOTAL_REGISTROS:=0;
<br>
W_TOTAL_INCON:=0;
<br>
W_INCONSISTENTE:=FALSE;
<br>
:BLQ_DATOS.INCONSISTENCIAS:='N';
<br>
OPEN C_CARGAR_EQUIPOS;
<br>
<table>
	<tr>
		<td>
			Loop
		</td>
	</tr>
	<tr>
		<td>
			FETCH C_CARGAR_EQUIPOS INTO V_CAMBIO;
<br>
EXIT WHEN C_CARGAR_EQUIPOS%NOTFOUND;
<br>
W_TOTAL_REGISTROS:=W_TOTAL_REGISTROS+1;
<br>
W_INCONSISTENTE:=FALSE;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.tipo_elemento_id IN ( 'MOVIL' , 'SIMCAR' ) AND NVL ( v_cambio.producto_id , 'N' ) <> 'INTMOV' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_SERVICIO:='TELMOV';
<br>
V_PRODUCTO:='MOVIL';
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.tipo_elemento_id = 'SIMCAR' THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  ( NVL ( v_cambio.pin , 'N' ) = 'N' OR NVL ( v_cambio.puk , 'N' ) = 'N' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			W_INCONSISTENTE:=TRUE;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  NVL ( v_cambio.numero_movil , 'N' ) = 'N' AND NVL ( v_cambio.producto_id , 'N' ) = 'INTMOV' AND v_cambio.tipo_elemento_id = 'SIMCAR' THEN
		</td>
		<td>
			W_INCONSISTENTE:=TRUE;
<br>
MSG_ALERT('EL VALOR DE LA CARACTERíSTICA 4362(TELéFONO MóVIL)DEL ARCHIVO ES NULA. VERIFIQUE<'||V_CARGAR_COMO||'>','I',FALSE);
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td>
			SELSIF  NVL ( v_cambio.producto_id , 'N' ) = 'INTMOV' AND v_cambio.tipo_elemento_id = 'USBMOV' THEN
		</td>
		<td>
			V_SERVICIO:='DATOS';
<br>
V_PRODUCTO:='INTMOV';
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td>
			SELSIF  v_cambio.tipo_elemento_id = 'DECO' THEN
		</td>
		<td>
			V_SERVICIO:='ENTRE';
<br>
V_PRODUCTO:='TELEV';
<br>

		</td>
	</tr>
</table>
<br>
V_SERVICIO:=NULL;
<br>
V_PRODUCTO:=NULL;
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  NOT w_inconsistente THEN
		</td>
	</tr>
	<tr>
		<td>
			OPEN C_EXISTE_EQUIPO(V_CAMBIO.EQUIPO_ID);
<br>
FETCH C_EXISTE_EQUIPO INTO W_EXISTE_EQUIPO;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  c_existe_equipo%NOTFOUND THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cargar_como IS NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			V_CARGAR_COMO:=FN_DOMINIO_DESCRIPCION('EQU_TIPOELEM_SERMAC',V_CAMBIO.TIPO_ELEMENTO_ID);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cargar_como = 'EQUIPO_ID' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_EQUIPO_PPAL:=V_CAMBIO.EQUIPO_ID;
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  v_cargar_como = 'MAC_ID' THEN
		</td>
		<td>
			V_EQUIPO_PPAL:=NVL(V_CAMBIO.MAC_EQUIPO,V_CAMBIO.EQUIPO_ID);
<br>

		</td>
	</tr>
</table>
<br>
V_EQUIPO_PPAL:=V_CAMBIO.EQUIPO_ID;
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  NVL ( v_cambio.producto_id , 'N' ) = 'INTMOV' AND v_cambio.tipo_elemento_id = 'SIMCAR' THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  CHECKBOX_CHECKED ( 'BLQ_DATOS.CHECK_GENERICA' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_ESTADO_EQU:='RSM';
<br>

		</td>
		<td>
			V_ESTADO_EQU:='LIB';
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  NVL ( v_cambio.estado , 'X' ) <> 'X' THEN
		</td>
		<td>
			V_ESTADO_EQU:=V_CAMBIO.ESTADO;
<br>

		</td>
	</tr>
</table>
<br>
V_ESTADO_EQU:='LIB';
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.tipo_elemento_id IN ( 'SIMCAR' , 'USBMOV' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.tipo_elemento_id = 'SIMCAR' AND CHECKBOX_CHECKED ( 'BLQ_DATOS.CHECK_GENERICA' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_FECHA_ESTADO:=TO_DATE('19641204','YYYYMMDD');
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  v_cambio.tipo_elemento_id = 'SIMCAR' AND NOT CHECKBOX_CHECKED ( 'BLQ_DATOS.CHECK_GENERICA' ) THEN
		</td>
		<td>
			V_FECHA_ESTADO:=SYSDATE;
<br>

		</td>
	</tr>
</table>
<br>
V_FECHA_ESTADO:=SYSDATE;
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			V_FECHA_ESTADO:=SYSDATE;
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.tipo_elemento_id IN ( 'SIMCAR' , 'USBMOV' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_CAMBIO.EQUIPO_ID:=NULL;
<br>
V_CAMBIO.MAC_EQUIPO:=NULL;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.caract_1093 = 'CM' THEN
		</td>
	</tr>
	<tr>
		<td>
			INSERT INTO FNX_EQUIPOS(MARCA_ID,REFERENCIA_ID,TIPO_ELEMENTO_ID,TIPO_ELEMENTO,EQUIPO_ID,ESTADO,FECHA_ESTADO,IDENTIFICADOR_ID,SERVICIO_ID,PRODUCTO_ID,UBICACION_ID,MUNICIPIO_ID,EMPRESA_ID,SERIAL_REAL,MAC_REAL)VALUES(LTRIM(RTRIM(V_CAMBIO.MARCA_ID)), LTRIM(RTRIM(V_CAMBIO.REFERENCIA_ID)), LTRIM(RTRIM(V_CAMBIO.TIPO_ELEMENTO_ID)), LTRIM(RTRIM(V_CAMBIO.TIPO_ELEMENTO)), LTRIM(RTRIM(V_CAMBIO.EQUIPO_ID)), V_ESTADO_EQU,V_FECHA_ESTADO,LTRIM(RTRIM(V_CAMBIO.IDENTIFICADOR_ID)), LTRIM(RTRIM(NVL(V_CAMBIO.SERVICIO_ID,V_SERVICIO))), LTRIM(RTRIM(NVL(V_CAMBIO.PRODUCTO_ID,V_PRODUCTO))), LTRIM(RTRIM(:BLQ_CONTROLES.OFICINA_ID)), LTRIM(RTRIM(NVL(V_CAMBIO.MUNICIPIO_ID,:BLQ_DATOS.MUNICIPIO_CARGA))), LTRIM(RTRIM(NVL(V_CAMBIO.EMPRESA_ID,:BLQ_DATOS.EMPRESA_CARGA))), V_CAMBIO.SERIAL_REAL_SIMCARD,V_CAMBIO.MAC_EQUIPO);
<br>

		</td>
		<td>
			INSERT INTO FNX_EQUIPOS(MARCA_ID,REFERENCIA_ID,TIPO_ELEMENTO_ID,TIPO_ELEMENTO,EQUIPO_ID,ESTADO,FECHA_ESTADO,IDENTIFICADOR_ID,SERVICIO_ID,PRODUCTO_ID,UBICACION_ID,MUNICIPIO_ID,EMPRESA_ID,SERIAL_REAL,MAC_REAL)VALUES(LTRIM(RTRIM(V_CAMBIO.MARCA_ID)), LTRIM(RTRIM(V_CAMBIO.REFERENCIA_ID)), LTRIM(RTRIM(V_CAMBIO.TIPO_ELEMENTO_ID)), LTRIM(RTRIM(V_CAMBIO.TIPO_ELEMENTO)), LTRIM(RTRIM(V_EQUIPO_PPAL)), V_ESTADO_EQU,V_FECHA_ESTADO,LTRIM(RTRIM(V_CAMBIO.IDENTIFICADOR_ID)), LTRIM(RTRIM(NVL(V_CAMBIO.SERVICIO_ID,V_SERVICIO))), LTRIM(RTRIM(NVL(V_CAMBIO.PRODUCTO_ID,V_PRODUCTO))), LTRIM(RTRIM(:BLQ_CONTROLES.OFICINA_ID)), LTRIM(RTRIM(NVL(V_CAMBIO.MUNICIPIO_ID,:BLQ_DATOS.MUNICIPIO_CARGA))), LTRIM(RTRIM(NVL(V_CAMBIO.EMPRESA_ID,:BLQ_DATOS.EMPRESA_CARGA))), V_CAMBIO.EQUIPO_ID,V_CAMBIO.MAC_EQUIPO);
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  NVL ( v_cambio.producto_id , 'N' ) = 'INTMOV' AND v_cambio.tipo_elemento_id = 'SIMCAR' THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_IDENTIFICADORES.PR_CREAR_IDENTIFICADOR(V_CAMBIO.NUMERO_MOVIL,'LIB',NULL,'DATOS','INTMOV','INTMOV','SRV','INALA',V_MENSAJE,NVL(V_CAMBIO.MUNICIPIO_ID,:BLQ_DATOS.MUNICIPIO_CARGA), NVL(V_CAMBIO.EMPRESA_ID,:BLQ_DATOS.EMPRESA_CARGA));
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_mensaje IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			MSG_ALERT('EL IDENTIFICADOR '||V_CAMBIO.NUMERO_MOVIL||' PARA EL PRODUCTO INTERNET MóVIL YA EXISTE. VERIFIQUE.','I',FALSE);
<br>
RAISE FORM_TRIGGER_FAILURE;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.mac_equipo IS NOT NULL and NVL ( v_cambio.producto_id , 'N' ) <> 'INTMOV' THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,3765,LTRIM(RTRIM(V_CAMBIO.MAC_EQUIPO)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.equipo_id IS NOT NULL AND NVL ( v_cambio.producto_id , 'N' ) <> 'INTMOV' AND v_cambio.caract_1093 <> 'CM' THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,3766,LTRIM(RTRIM(V_CAMBIO.EQUIPO_ID)), V_MENSAJE);
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.equipo_id IS NOT NULL AND NVL ( v_cambio.serial_real_simcard , 'N' ) <> 'N' THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,3766,LTRIM(RTRIM(V_CAMBIO.SERIAL_REAL_SIMCARD)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.pin IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,1475,LTRIM(RTRIM(V_CAMBIO.PIN)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.puk IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,1476,LTRIM(RTRIM(V_CAMBIO.PUK)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.caract_2131 IS NOT NULL and NVL ( v_cambio.producto_id , 'N' ) <> 'INTMOV' THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,'2131',LTRIM(RTRIM(V_CAMBIO.CARACT_2131)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.numero_movil IS NOT NULL and NVL ( v_cambio.producto_id , 'N' ) = 'INTMOV' AND v_cambio.tipo_elemento_id = 'SIMCAR' THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,4362,LTRIM(RTRIM(V_CAMBIO.NUMERO_MOVIL)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.caract_1093 IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,1093,LTRIM(RTRIM(V_CAMBIO.CARACT_1093)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cambio.caract_5045 IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			PKG_EQUIPOS_UTIL.PR_INSERTAR_CONF_EQU(V_CAMBIO.MARCA_ID,V_CAMBIO.REFERENCIA_ID,V_CAMBIO.TIPO_ELEMENTO_ID,V_CAMBIO.TIPO_ELEMENTO,V_EQUIPO_PPAL,5045,LTRIM(RTRIM(V_CAMBIO.CARACT_5045)), V_MENSAJE);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
V_REG_INSERT:=V_REG_INSERT+1;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  MOD ( v_reg_insert , 50 ) = 0 THEN
		</td>
	</tr>
	<tr>
		<td>
			COMMIT;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
	<tr>
		<td>
			WHEN OTHERS THEN
  W_INCONSISTENTE:=TRUE;
  V_INCON_VALOR:='I';
  W_TOTAL_INCON:=W_TOTAL_INCON+1;
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			W_INCONSISTENTE:=TRUE;
<br>
V_INCON_VALOR:='E';
<br>
W_TOTAL_INCON:=W_TOTAL_INCON+1;
<br>

		</td>
	</tr>
</table>
<br>
CLOSE C_EXISTE_EQUIPO;
<br>

		</td>
		<td>
			W_INCONSISTENTE:=TRUE;
<br>
V_INCON_VALOR:='M';
<br>
W_TOTAL_INCON:=W_TOTAL_INCON+1;
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  w_inconsistente THEN
		</td>
	</tr>
	<tr>
		<td>
			UPDATE FNX_CAMBIOS_EQUIPOS SET INCONSISTENTE=V_INCON_VALOR WHERE MARCA_ID=V_CAMBIO.MARCA_ID AND REFERENCIA_ID=V_CAMBIO.REFERENCIA_ID AND TIPO_ELEMENTO_ID=V_CAMBIO.TIPO_ELEMENTO_ID AND TIPO_ELEMENTO=V_CAMBIO.TIPO_ELEMENTO AND EQUIPO_ID=V_CAMBIO.EQUIPO_ID;
<br>
:BLQ_DATOS.INCONSISTENCIAS:='S';
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>
CLOSE C_CARGAR_EQUIPOS;
<br>
COMMIT;
<br>
MSG_ALERT('EL PROCESO DE CREACIóN MASIVA DE EQUIPOS HA FINALIZADO. TIPO EQUIPO<'||V_CARGAR_COMO||'>','I',FALSE);
<br>
MSG_ALERT('NúMERO TOTAL DE REGISTROS PROCESADOS<'||TO_CHAR(W_TOTAL_REGISTROS)||'>'||CHR(13)||' REGISTROS CARGADOS<'||TO_CHAR(V_REG_INSERT)||'>'||CHR(13)||' REGISTROS INCONSISTENTES<'||TO_CHAR(W_TOTAL_INCON)||'>','I',FALSE);
<br>

		</td>
	</tr>
	<tr>
		<td>
			WHEN E_ERROR_MARCA THEN
  MSG_ALERT(V_MENSAJE_ERROR,'I',FALSE);
  MSG_ALERT('NO SE HA REALIZADO EL PROCESO DE CARGA. POR FAVOR VERIFIQUE LOS DATOS DE MARCA Y REFERENCIA DE LOS EQUIPOS A CARGAR.','I',FALSE);
<br>
WHEN OTHERS THEN
  COMMIT;
  MSG_ALERT('SE HA PRESENTADO UN ERROR EN LA CARGA DE REGISTROS DE EQUIPOS. POR FAVOR TOME NOTA DEL ERROR.','I',FALSE);
  MSG_ALERT(SUBSTR(SQLERRM,1,150), 'I',FALSE);
<br>

		</td>
	</tr>
</table>

		</td>
	</tr>
</table>

