<table border='1'>
	<tr>
		<td>
			PROCEDURE pr_ins_ordenes_instalacion
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td>
			<strong>V_ETAPA</strong>
<br>
<strong>V_SECUENCIA</strong>
<br>
<strong>V_ACTIVIDAD</strong>
<br>
<strong>V_FUNCION_VERIFICACION</strong>
<br>
<strong>V_TIPO_VERIFICACION</strong>
<br>
<strong>V_FUNCION_ENRUTA</strong>
<br>
<strong>V_TIPO_INFRAESTRUCTURA</strong>
<br>
<strong>V_SUBTIPO</strong>
<br>
<strong>V_MOTIVO</strong>
<br>
<strong>V_SUBMOTIVO</strong>
<br>
<strong>V_CAMBIO_PRD</strong>
<br>
<strong>V_CAMBIO_TECNO</strong>
<br>
<strong>V_CAMBIO_CENTRAL</strong>
<br>
<strong>V_EXISTE_ATENC</strong>
<br>
<strong>V_CANTIDAD</strong>
<br>
<strong>V_NECESITA</strong>
<br>
<strong>V_TIPO_ELEM</strong>
<br>
<strong>V_TIPO_ELEM_ID</strong>
<br>
<strong>V_IDENTIF_NUE</strong>
<br>
<strong>V_TECNO_NUE</strong>
<br>
<strong>V_IDENTIF_OLD</strong>
<br>
<strong>V_TECNO_OLD</strong>
<br>
<strong>V_IDENTIF_ORTR</strong>
<br>
<strong>V_TECNO_ORTR</strong>
<br>
<strong>V_VALOR</strong>
<br>
<strong>V_SERV_ACTIV</strong>
<br>
<strong>V_PROD_ACTIV</strong>
<br>
<strong>V_TIPO_ELEM_ACTIV</strong>
<br>
<strong>V_TIPO_ELEM_ID_ACTIV</strong>
<br>
<strong>V_TECNO_ACTIVIDAD</strong>
<br>
<strong>V_SEC_ACTIV</strong>
<br>
<strong>V_TIPO_SOL_ACTIV</strong>
<br>
<strong>V_SUBPED</strong>
<br>
<strong>V_SOLI</strong>
<br>
<strong>V_NUMORD</strong>
<br>
<strong>V_ELEMENTO_ID</strong>
<br>
<strong>V_TIPO_PARAM</strong>
<br>
<strong>V_CANT_RECEQ</strong>
<br>
<strong>V_OBSERVACION_RECEQ</strong>
<br>
<strong>C_ACPR</strong>CURSOR
<br>
<strong>C_PRODUCTO</strong>CURSOR
<br>
<strong>C_PROD_INTER</strong>CURSOR
<br>
<strong>C_TECN_ELE</strong>CURSOR
<br>
<strong>C_TECNOLOGIAS_ELEMENTOS</strong>CURSOR
<br>

		</td>
	</tr>
	<tr>
		<td>
			V_SERV_ACTIV:=P_SERVICIO;
<br>
V_PROD_ACTIV:=P_PRODUCTO;
<br>
V_TIPO_SOL_ACTIV:=P_TIPO_SOLICITUD;
<br>
V_CANTIDAD:=0;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_tipo_sol_activ IN ( 'REFAL' , 'REGEN' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_SEC_ACTIV:=1;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
V_CAMBIO_CENTRAL:=FN_CAMBIO_TIPO_CENTRAL(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_IDENTIFICADOR_NUEVO,P_TECNOLOGIA_ID);
<br>
V_CAMBIO_TECNO:=FN_VERIFICAR_CAMBIOTECNO(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_IDENTIFICADOR_NUEVO,P_TECNOLOGIA_ID);
<br>
V_CAMBIO_PRD:=FN_VERIFICAR_CAMBIO_PRD(P_PEDIDO,P_SUBPEDIDO);
<br>
V_TIPO_INFRAESTRUCTURA:=FN_VERIFICAR_INFRAESTRUCTURA(V_ETAPA,V_ACTIVIDAD);
<br>
OPEN C_TECN_ELE;
<br>
FETCH C_TECN_ELE INTO V_CANTIDAD;
<br>
CLOSE C_TECN_ELE;
<br>
DBMS_OUTPUT.PUT_LINE('****** V_CANTIDAD '||V_CANTIDAD);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cantidad > 0 THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TIPO_ELEM_ACTIV:=P_TIPO_ELEMENTO;
<br>
V_TIPO_ELEM_ID_ACTIV:=P_TIPO_ELEMENTO_ID;
<br>
V_CANTIDAD:=0;
<br>

		</td>
		<td>
			V_TIPO_ELEM_ACTIV:=NULL;
<br>
V_TIPO_ELEM_ID_ACTIV:=NULL;
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_tipo_elemento <> 'EQU' AND p_tipo_solicitud IN ( 'NUEVO' , 'CAMBI' , 'TRASL' ) AND ( v_cambio_prd = 'SI' OR v_cambio_tecno = 'SI' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TIPO_SOL_ACTIV:='NUEVO';
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_producto = 'INTER' AND p_tipo_elemento_id <> 'ACCESP' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_VALOR:=FN_IDENT_TECNO_ORTR(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_IDENTIFICADOR_NUEVO,P_TECNOLOGIA_ID,V_TIPO_SOL_ACTIV,P_SERVICIO,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,'TRM',V_IDENTIF_OLD,V_TECNO_OLD,V_IDENTIF_NUE,V_TECNO_NUE,V_IDENTIF_ORTR,V_TECNO_ORTR);
<br>
V_TECNO_ACTIVIDAD:=V_TECNO_ORTR;
<br>
V_IDENTIF_ORTR:=NVL(P_IDENTIFICADOR_NUEVO,P_IDENTIFICADOR_ID);
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  p_producto = 'INTER' AND p_tipo_elemento_id = 'ACCESP' THEN
		</td>
		<td>
			V_TECNO_ORTR:=FN_VALOR_CARACT_SUBELEM(P_PEDIDO,P_SUBPEDIDO,'ACCESP',33);
<br>
V_TECNO_ACTIVIDAD:=V_TECNO_ORTR;
<br>
V_IDENTIF_ORTR:=NVL(P_IDENTIFICADOR_NUEVO,P_IDENTIFICADOR_ID);
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td>
			SELSIF  p_producto = 'CNTXIP' AND p_tipo_elemento_id = 'SEDECX' THEN
		</td>
		<td>
			V_TECNO_ORTR:=FN_VALOR_CARACT_SUBELEM(P_PEDIDO,P_SUBPEDIDO,'SEDECX',33);
<br>
V_TECNO_ACTIVIDAD:=V_TECNO_ORTR;
<br>
V_IDENTIF_ORTR:=NVL(P_IDENTIFICADOR_NUEVO,P_IDENTIFICADOR_ID);
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td>
			SELSIF  p_producto = 'TRKSIP' AND p_tipo_elemento_id = 'SEDEIP' THEN
		</td>
		<td>
			V_TECNO_ORTR:=FN_VALOR_CARACT_SUBELEM(P_PEDIDO,P_SUBPEDIDO,'SEDEIP',33);
<br>
V_TECNO_ACTIVIDAD:=V_TECNO_ORTR;
<br>
V_IDENTIF_ORTR:=NVL(P_IDENTIFICADOR_NUEVO,P_IDENTIFICADOR_ID);
<br>

		</td>
	</tr>
</table>
<br>
V_IDENTIF_ORTR:=NVL(P_IDENTIFICADOR_NUEVO,P_IDENTIFICADOR_ID);
<br>
V_TECNO_ACTIVIDAD:=NVL(NVL(FN_TECNOLOGIA_IDENTIF(P_IDENTIFICADOR_NUEVO), FN_SUBTIPO_TECNO_REDCO(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_NUEVO)), P_TECNOLOGIA_ID);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_tecno_actividad = 'INALA' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TECNO_ACTIVIDAD:=FN_SUBTIPO_TECNO_INALA(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_NUEVO);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
V_TECNO_ORTR:=V_TECNO_ACTIVIDAD;
<br>

		</td>
	</tr>
</table>
<br>
V_TECNO_NUE:=V_TECNO_ORTR;
<br>
V_IDENTIF_NUE:=V_IDENTIF_ORTR;
<br>
DBMS_OUTPUT.PUT_LINE('**********2---NUEVO---DATOS PARA SELECCIONAR ACTIVIDADES NUEVO V_CAMBIO_TECNO'||V_CAMBIO_CENTRAL||'-V_CAMBIO_PRD '||V_CAMBIO_PRD);
<br>
DBMS_OUTPUT.PUT_LINE('SERVICIO_ID='||V_SERV_ACTIV||'AND PRODUCTO_ID='||V_PROD_ACTIV||'AND TECNOLOGIA_ID='||V_TECNO_ACTIVIDAD||'AND TIPO_TRABAJO='||V_TIPO_SOL_ACTIV||'AND TIPO_ELEMENTO=NVL('||V_TIPO_ELEM_ACTIV||', TIPO_ELEMENTO)'||'AND TIPO_ELEMENTO_ID=NVL('||V_TIPO_ELEM_ID_ACTIV||', TIPO_ELEMENTO_ID)'||'AND EMPRESA_ID='||P_EMPRESA||'AND MUNICIPIO_ID='||P_MUNICIPIO);
<br>
OPEN C_ACPR;
<br>
<table>
	<tr>
		<td>
			Loop
		</td>
	</tr>
	<tr>
		<td>
			FETCH C_ACPR INTO V_ETAPA,V_ACTIVIDAD,V_SECUENCIA,V_FUNCION_VERIFICACION,V_TIPO_VERIFICACION,V_FUNCION_ENRUTA;
<br>
EXIT WHEN C_ACPR%NOTFOUND;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_funcion_verificacion IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			V_NECESITA:=FN_FUNCION_VERIFICACION(V_FUNCION_VERIFICACION,V_TIPO_VERIFICACION,P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_TECNOLOGIA_ID,V_IDENTIF_ORTR,V_TECNO_ORTR,V_TIPO_SOL_ACTIV,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_ETAPA,V_ACTIVIDAD);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_necesita = 'SI' THEN
		</td>
	</tr>
	<tr>
		<td>
			PR_INS_ORDENES_TRABAJOS(P_REQUERIMIENTO,V_ETAPA,V_ACTIVIDAD,V_SECUENCIA,P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,V_TIPO_SOL_ACTIV,P_SERVICIO,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_IDENTIF_ORTR,V_TECNO_ORTR,P_IDENT_PAQUETE,P_NATURALEZA,V_FUNCION_ENRUTA,P_USUARIO,P_EMPRESA,P_MUNICIPIO);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>
CLOSE C_ACPR;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_tipo_elemento <> 'EQU' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_SUBPED:=P_SUBPEDIDO;
<br>
V_SOLI:=P_SOLICITUD;
<br>
V_IDENTIF_OLD:=P_IDENTIFICADOR_ID;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_producto = 'INTER' THEN
		</td>
	</tr>
	<tr>
		<td>
			OPEN C_PROD_INTER;
<br>
FETCH C_PROD_INTER INTO V_SERV_ACTIV,V_PROD_ACTIV,V_TIPO_ELEM,V_TIPO_ELEM_ID,V_IDENTIF_OLD,V_SUBPED,V_SOLI;
<br>
CLOSE C_PROD_INTER;
<br>
V_TECNO_OLD:=FN_VALOR_CARACTERISTICA_TRAB(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,33);
<br>

		</td>
		<td>
			V_IDENTIF_OLD:=P_IDENTIFICADOR_ID;
<br>
OPEN C_PRODUCTO;
<br>
FETCH C_PRODUCTO INTO V_SERV_ACTIV,V_PROD_ACTIV,V_TIPO_ELEM,V_TIPO_ELEM_ID,V_IDENTIF_OLD,V_SUBPED,V_SOLI;
<br>
CLOSE C_PRODUCTO;
<br>
V_TECNO_OLD:=NVL(FN_TECNOLOGIA_IDENTIF(V_IDENTIF_OLD), FN_VALOR_CARACT_SUBPEDIDO(P_PEDIDO,P_SUBPEDIDO,33));
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_servicio = 'TELEMP' AND p_producto = 'PBX' AND p_tipo_elemento IN ( 'CMP' , 'SRV' ) AND p_tipo_elemento_id IN ( 'SLL' , 'TC' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TECNO_OLD:=FN_SUBTIPO_TECNO_REDCO(NULL,NULL,NULL,P_IDENTIFICADOR_ID);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_tecno_old = 'INALA' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TECNO_OLD:=NVL(FN_SUBTIPO_TECNO_INALA(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,V_IDENTIF_OLD), V_TECNO_OLD);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
V_TIPO_SOL_ACTIV:='RETIR';
<br>
V_TECNO_ACTIVIDAD:=V_TECNO_OLD;
<br>
V_TECNO_ORTR:=V_TECNO_OLD;
<br>
V_IDENTIF_ORTR:=V_IDENTIF_OLD;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_tipo_elem IS NULL AND v_tipo_elem_id IS NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TIPO_ELEM:=P_TIPO_ELEMENTO;
<br>
V_TIPO_ELEM_ID:=P_TIPO_ELEMENTO_ID;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
OPEN C_TECN_ELE;
<br>
FETCH C_TECN_ELE INTO V_CANTIDAD;
<br>
CLOSE C_TECN_ELE;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cantidad > 0 THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TIPO_ELEM_ACTIV:=V_TIPO_ELEM;
<br>
V_TIPO_ELEM_ID_ACTIV:=V_TIPO_ELEM_ID;
<br>
V_CANTIDAD:=0;
<br>

		</td>
		<td>
			V_TIPO_ELEM_ACTIV:=NULL;
<br>
V_TIPO_ELEM_ID_ACTIV:=NULL;
<br>

		</td>
	</tr>
</table>
<br>
DBMS_OUTPUT.PUT_LINE('**********2---RETIRO---DATOS PARA SELECCIONAR ACTIVIDADES RETIRO V_CAMBIO_TECNO'||V_CAMBIO_CENTRAL||'-V_CAMBIO_PRD '||V_CAMBIO_PRD);
<br>
DBMS_OUTPUT.PUT_LINE('SERVICIO_ID='||V_SERV_ACTIV||'AND PRODUCTO_ID='||V_PROD_ACTIV||'AND TECNOLOGIA_ID='||V_TECNO_ACTIVIDAD||'AND TIPO_TRABAJO='||V_TIPO_SOL_ACTIV||'AND TIPO_ELEMENTO=NVL('||V_TIPO_ELEM||', TIPO_ELEMENTO)'||'AND TIPO_ELEMENTO_ID=NVL('||V_TIPO_ELEM_ID||', TIPO_ELEMENTO_ID)'||'AND EMPRESA_ID='||P_EMPRESA||'AND MUNICIPIO_ID='||P_MUNICIPIO);
<br>
OPEN C_ACPR;
<br>
<table>
	<tr>
		<td>
			Loop
		</td>
	</tr>
	<tr>
		<td>
			FETCH C_ACPR INTO V_ETAPA,V_ACTIVIDAD,V_SECUENCIA,V_FUNCION_VERIFICACION,V_TIPO_VERIFICACION,V_FUNCION_ENRUTA;
<br>
EXIT WHEN C_ACPR%NOTFOUND;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_funcion_verificacion IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			V_NECESITA:=FN_FUNCION_VERIFICACION(V_FUNCION_VERIFICACION,V_TIPO_VERIFICACION,P_PEDIDO,V_SUBPED,V_SOLI,V_IDENTIF_ORTR,V_TECNO_ORTR,V_IDENTIF_NUE,V_TECNO_NUE,V_TIPO_SOL_ACTIV,V_PROD_ACTIV,V_TIPO_ELEM,V_TIPO_ELEM_ID,V_ETAPA,V_ACTIVIDAD);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_necesita = 'SI' THEN
		</td>
	</tr>
	<tr>
		<td>
			PR_INS_ORDENES_TRABAJOS(P_REQUERIMIENTO,V_ETAPA,V_ACTIVIDAD,V_SECUENCIA,P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,V_TIPO_SOL_ACTIV,V_SERV_ACTIV,V_PROD_ACTIV,V_TIPO_ELEM,V_TIPO_ELEM_ID,V_IDENTIF_ORTR,V_TECNO_ORTR,P_IDENT_PAQUETE,P_NATURALEZA,V_FUNCION_ENRUTA,P_USUARIO,P_EMPRESA,P_MUNICIPIO);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>
CLOSE C_ACPR;
<br>

		</td>
		<td>
			DBMS_OUTPUT.PUT_LINE('ENTRO POR EL ELSE-->'||P_TIPO_ELEMENTO);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_producto in ( 'TRKSIP' , 'CNTXIP' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_VALOR:=FN_TECNOLOGIA_ORDEN(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_IDENTIFICADOR_NUEVO,P_TECNOLOGIA_ID,P_TIPO_SOLICITUD,P_SERVICIO,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_TIPO_INFRAESTRUCTURA);
<br>
V_TECNO_ORTR:=V_VALOR;
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_identificador_nuevo IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			V_IDENTIF_ORTR:=P_IDENTIFICADOR_NUEVO;
<br>

		</td>
		<td>
			V_IDENTIF_ORTR:=P_IDENTIFICADOR_ID;
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_producto = 'CNTXIP' AND p_tecnologia_id <> 'LOGIC' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TECNO_ORTR:=P_TECNOLOGIA_ID;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
V_IDENTIF_OLD:=V_IDENTIF_ORTR;
<br>
V_TECNO_OLD:=V_TECNO_ORTR;
<br>

		</td>
		<td>
			V_VALOR:=FN_IDENT_TECNO_ORTR(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_IDENTIFICADOR_NUEVO,P_TECNOLOGIA_ID,P_TIPO_SOLICITUD,P_SERVICIO,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_TIPO_INFRAESTRUCTURA,V_IDENTIF_OLD,V_TECNO_OLD,V_IDENTIF_NUE,V_TECNO_NUE,V_IDENTIF_ORTR,V_TECNO_ORTR);
<br>

		</td>
	</tr>
</table>
<br>
V_TECNO_ACTIVIDAD:=V_TECNO_ORTR;
<br>
DBMS_OUTPUT.PUT_LINE('3 ****************************DATOS PARA SELECCIONAR ACTIVIDADES****************************');
<br>
DBMS_OUTPUT.PUT_LINE('SERVICIO_ID='||V_SERV_ACTIV||'AND PRODUCTO_ID='||V_PROD_ACTIV||'AND TECNOLOGIA_ID='||V_TECNO_ACTIVIDAD||'AND TIPO_TRABAJO='||V_TIPO_SOL_ACTIV||'AND TIPO_ELEMENTO=NVL('||V_TIPO_ELEM_ACTIV||', TIPO_ELEMENTO)'||'AND TIPO_ELEMENTO_ID=NVL('||V_TIPO_ELEM_ID_ACTIV||', TIPO_ELEMENTO_ID)'||'AND EMPRESA_ID='||P_EMPRESA||'AND MUNICIPIO_ID='||P_MUNICIPIO);
<br>
V_CANT_RECEQ:=0;
<br>
OPEN C_ACPR;
<br>
<table>
	<tr>
		<td>
			Loop
		</td>
	</tr>
	<tr>
		<td>
			FETCH C_ACPR INTO V_ETAPA,V_ACTIVIDAD,V_SECUENCIA,V_FUNCION_VERIFICACION,V_TIPO_VERIFICACION,V_FUNCION_ENRUTA;
<br>
EXIT WHEN C_ACPR%NOTFOUND;
<br>
V_TIPO_INFRAESTRUCTURA:=FN_VERIFICAR_INFRAESTRUCTURA(V_ETAPA,V_ACTIVIDAD);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  ( p_identificador_id IS NOT NULL AND p_identificador_nuevo IS NOT NULL AND p_identificador_id <> p_identificador_nuevo ) OR ( v_actividad IN ( 'SUSPC' , 'ACTIC' ) ) THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_producto = 'ATENC' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_EXISTE_ATENC:=FN_BUSCAR_ATENC_EAMS(V_ETAPA,V_ACTIVIDAD,V_MOTIVO,V_SUBMOTIVO);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_existe_atenc = FALSE THEN
		</td>
	</tr>
	<tr>
		<td>
			V_FUNCION_VERIFICACION:='';
<br>
V_ETAPA:='ATENC';
<br>
V_ACTIVIDAD:='SINRES';
<br>
V_MOTIVO:='999';
<br>
V_SUBMOTIVO:='999';
<br>
V_EXISTE_ATENC:=TRUE;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_producto in ( 'TRKSIP' , 'CNTXIP' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_VALOR:=FN_TECNOLOGIA_ORDEN(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_IDENTIFICADOR_NUEVO,P_TECNOLOGIA_ID,P_TIPO_SOLICITUD,P_SERVICIO,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_TIPO_INFRAESTRUCTURA);
<br>

		</td>
		<td>
			V_VALOR:=FN_IDENT_TECNO_ORTR(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,P_IDENTIFICADOR_ID,P_IDENTIFICADOR_NUEVO,P_TECNOLOGIA_ID,P_TIPO_SOLICITUD,P_SERVICIO,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_TIPO_INFRAESTRUCTURA,V_IDENTIF_OLD,V_TECNO_OLD,V_IDENTIF_NUE,V_TECNO_NUE,V_IDENTIF_ORTR,V_TECNO_ORTR,V_ACTIVIDAD);
<br>

		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
DBMS_OUTPUT.PUT_LINE('CICLO V_FUNCION_VERIFICACION-->'||V_FUNCION_VERIFICACION);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_funcion_verificacion IS NOT NULL AND v_numord = 0 THEN
		</td>
	</tr>
	<tr>
		<td>
			V_NECESITA:=FN_FUNCION_VERIFICACION(V_FUNCION_VERIFICACION,V_TIPO_VERIFICACION,P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,V_IDENTIF_OLD,V_TECNO_OLD,V_IDENTIF_NUE,V_TECNO_NUE,V_TIPO_SOL_ACTIV,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_ETAPA,V_ACTIVIDAD);
<br>
DBMS_OUTPUT.PUT_LINE('ACTIVIDAD-->'||V_ACTIVIDAD||' V_NECESIDAD-->'||V_NECESITA);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_necesita = 'SI' THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_actividad = 'RECEQ' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_CANT_RECEQ:=V_CANT_RECEQ + 1;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>
PR_INS_ORDENES_TRABAJOS(P_REQUERIMIENTO,V_ETAPA,V_ACTIVIDAD,V_SECUENCIA,P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,V_TIPO_SOL_ACTIV,P_SERVICIO,P_PRODUCTO,P_TIPO_ELEMENTO,P_TIPO_ELEMENTO_ID,V_IDENTIF_ORTR,V_TECNO_ORTR,P_IDENT_PAQUETE,P_NATURALEZA,V_FUNCION_ENRUTA,P_USUARIO,P_EMPRESA,P_MUNICIPIO);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_tipo_sol_activ IN ( 'REGEN' , 'REFAL' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			V_NUMORD:=1;
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>
DBMS_OUTPUT.PUT_LINE('RECEQ GENERADAS:-->'||V_CANT_RECEQ);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_cant_receq = 0 AND p_tipo_solicitud = 'RETIR' THEN
		</td>
	</tr>
	<tr>
		<td>
			SELECT SUBSTR(OBSERVACION,1,INSTR(OBSERVACION,';'))INTO V_OBSERVACION_RECEQ FROM FNX_PEDIDOS WHERE PEDIDO_ID=P_PEDIDO;
<br>
DBMS_OUTPUT.PUT_LINE('PRIOI->V_OBSERVACION_RECEQ PEDIDO:-->'||V_OBSERVACION_RECEQ||'REQUERIMIENTO_ID :-->'||P_REQUERIMIENTO);
<br>
<table border='1'>
	<tr>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			UPDATE FNX_ORDENES_TRABAJOS SET OBSERVACION=SUBSTR(V_OBSERVACION_RECEQ||OBSERVACION,1,4000)WHERE PEDIDO_ID=P_PEDIDO AND SUBPEDIDO_ID=P_SUBPEDIDO AND SOLICITUD_ID=P_SOLICITUD AND ACTIVIDAD_ID='DESIN';
<br>

		</td>
	</tr>
	<tr>
		<td>
			WHEN OTHERS THEN
  DBMS_OUTPUT.PUT_LINE(SQLERRM||'<GEN-ORD>NO SE ACTUALIZó LA ORDEN');
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  p_ident_paquete IS NOT NULL THEN
		</td>
	</tr>
	<tr>
		<td>
			PR_UPD_PENDISOLI(P_PEDIDO,P_SUBPEDIDO,P_SOLICITUD,V_ETAPA,'INICIO');
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
	<tr>
		<td>
			
		</td>
	</tr>
</table>

		</td>
	</tr>
</table>

