<body>
	<table border='1'>
		<tr>
			<td>
				<div>
					v_serv_activ := p_servicio;<br>
					v_prod_activ := p_producto;<br>
					v_tipo_sol_activ := p_tipo_solicitud;<br>
					v_cantidad := 0;<br>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<table border='1'>
					<tr>
						<td colspan='1'>
							v_tipo_sol_activ IN ('REFAL', 'REGEN')
						</td>
					</tr>
					<tr>
						<td>
							v_sec_activ := 1;
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<div>
   v_cambio_central :=
      fn_cambio_tipo_central (p_pedido,
                              p_subpedido,
                              p_solicitud,
                              p_identificador_id,
                              p_identificador_nuevo,
                              p_tecnologia_id
                             );
   v_cambio_tecno :=
      fn_verificar_cambiotecno (p_pedido,
                                p_subpedido,
                                p_solicitud,
                                p_identificador_id,
                                p_identificador_nuevo,
                                p_tecnologia_id
                               );
   v_cambio_prd := fn_verificar_cambio_prd (p_pedido, p_subpedido);				</div>
			</td>
		</tr>
		<tr>
			<td>
				<table border='1'>
					<tr>
						<td colspan='2'>
							v_cantidad > 0
						</td>
					</tr>
					<tr>
						<td>
							v_tipo_elem_activ := p_tipo_elemento;
							v_tipo_elem_id_activ := p_tipo_elemento_id;
							v_cantidad := 0;
						</td>
						<td>
							v_tipo_elem_activ := NULL;
							v_tipo_elem_id_activ := NULL;
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table border='1'>
					<tr>
						<td colspan='2'>
							p_tipo_elemento <> 'EQU'
      AND p_tipo_solicitud IN ('NUEVO', 'CAMBI', 'TRASL')
      AND (   v_cambio_prd = 'SI'
           OR v_cambio_tecno = 'SI'
          )
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<td>
						v_tipo_sol_activ := 'NUEVO';
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<td>
										<table border='1'>
											<tr>
												<td colspan='2'>
													p_producto = 'INTER' AND p_tipo_elemento_id <> 'ACCESP'
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>