<table border='1'>
	<tr>
		<td>
			<strong>V_TIPO_SOLICITUD</strong>
<br>
<strong>V_EMPRESA</strong>
<br>
<strong>V_ESTADO_OFERTA</strong>
<br>

		</td>
	</tr>
	<tr>
		<td>
			DBMS_OUTPUT.PUT_LINE(':NEW.ESTADO_ID: '||:NEW.ESTADO_ID);
<br>
DBMS_OUTPUT.PUT_LINE(':OLD.ESTADO_ID: '||:OLD.ESTADO_ID);
<br>
DBMS_OUTPUT.PUT_LINE(':NEW.CONCEPTO_ID: '||:NEW.CONCEPTO_ID);
<br>
DBMS_OUTPUT.PUT_LINE(':OLD.CONCEPTO_ID: '||:OLD.CONCEPTO_ID);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  :NEW.estado_id <> :OLD.estado_id OR :NEW.concepto_id <> :OLD.concepto_id THEN
		</td>
	</tr>
	<tr>
		<td>
			PR_CREAR_NOVEDAD_SOLICITUD(1,NULL,:NEW.PEDIDO_ID,:NEW.SUBPEDIDO_ID,:NEW.SOLICITUD_ID,:OLD.CONCEPTO_ID,:NEW.CONCEPTO_ID,NULL);
<br>
PR_UEN_RESP(:NEW.PEDIDO_ID,:NEW.SUBPEDIDO_ID,:NEW.SOLICITUD_ID,:NEW.PRODUCTO_ID,:NEW.TIPO_ELEMENTO_ID,:NEW.IDENTIFICADOR_ID,:NEW.IDENTIFICADOR_ID_NUEVO,:NEW.EMPRESA_ID,:NEW.MUNICIPIO_ID);
<br>
PR_ESTADO_OFERTA_CRM(:NEW.PEDIDO_ID,:NEW.SUBPEDIDO_ID,:NEW.SOLICITUD_ID,:OLD.ESTADO_ID,:NEW.ESTADO_ID,V_ESTADO_OFERTA);
<br>
PR_FRA_ESTADO(:OLD.PEDIDO_ID,:OLD.SUBPEDIDO_ID,:OLD.SERVICIO_ID,:OLD.PRODUCTO_ID);
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  :NEW.estado_id = 'ORDEN' AND :NEW.concepto_id = 'PORDE' THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  :NEW.producto_id = 'ATENC' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_EMPRESA:=FN_EMPRESA_PRODUCTO(FN_VALOR_CARACTERISTICA_SOL(:NEW.PEDIDO_ID,:NEW.SUBPEDIDO_ID,:NEW.SOLICITUD_ID,2187), :NEW.EMPRESA_ID,:NEW.MUNICIPIO_ID);
<br>

		</td>
		<td>
			V_EMPRESA:=:NEW.EMPRESA_ID;
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  :NEW.tipo_requerimiento = 'INSTA' THEN
		</td>
	</tr>
	<tr>
		<td>
			V_TIPO_SOLICITUD:=FN_TIPO_SOLICITUD(:NEW.PEDIDO_ID,:NEW.SUBPEDIDO_ID,:NEW.SOLICITUD_ID);
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  :NEW.tipo_requerimiento = 'ATENC' THEN
		</td>
		<td>
			V_TIPO_SOLICITUD:=FN_TIPO_SOLICITUD_ATEN(:NEW.PEDIDO_ID,:NEW.SUBPEDIDO_ID,:NEW.SOLICITUD_ID);
<br>

		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>
<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  v_tipo_solicitud IN ( 'NUEVO' , 'CAMBI' , 'RETIR' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			PR_INS_TRABAJOS_INSTALACION(:NEW.PEDIDO_ID,:NEW.SUBPEDIDO_ID,:NEW.SOLICITUD_ID,V_TIPO_SOLICITUD,:NEW.FECHA_INGRESO,:NEW.SERVICIO_ID,:NEW.PRODUCTO_ID,:NEW.TIPO_ELEMENTO,:NEW.TIPO_ELEMENTO_ID,:NEW.IDENTIFICADOR_ID,:NEW.IDENTIFICADOR_ID_NUEVO,:NEW.TECNOLOGIA_ID,:NEW.FECHA_CITA,:NEW.HORA_CITA,NULL,:NEW.EMPRESA_ID,:NEW.MUNICIPIO_ID);
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  :NEW.ESTADO_SOLI = 'ANULA' THEN
		</td>
		<td>
			<table border='1'>
	<tr>
		<td colspan='2'>
			SELSIF  :NEW.CONCEPTO_ID NOT IN ( 'ANCMT' , 'ANCNE' , 'ANDUS' , 'ANELE' , 'ANFRU' , 'ANINP' , 'ANPUS' , 'ANREP' , 'ANSPE' , 'ANTNE' , 'ANVAL' ) THEN
		</td>
	</tr>
	<tr>
		<td>
			<table border='1'>
	<tr>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			UPDATE SCR_SCORING SET ANULADO='S' WHERE PEDIDO_ID=:NEW.PEDIDO_ID AND ANULADO='N';
<br>

		</td>
	</tr>
	<tr>
		<td>
			WHEN OTHERS THEN
  NULL;
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			SELSIF  :NEW.CONCEPTO_ID IN ( 'ANCMT' , 'ANCNE' , 'ANDUS' , 'ANELE' , 'ANFRU' , 'ANINP' , 'ANPUS' , 'ANREP' , 'ANSPE' , 'ANTNE' , 'ANVAL' ) THEN
		</td>
		<td>
			<table border='1'>
	<tr>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			UPDATE SCR_SCORING SET ANULADO='A' WHERE PEDIDO_ID=:NEW.PEDIDO_ID;
<br>

		</td>
	</tr>
	<tr>
		<td>
			WHEN OTHERS THEN
  NULL;
<br>

		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
</table>
<br>

		</td>
		<td>
			
		</td>
	</tr>
</table>
<br>

		</td>
	</tr>
	<tr>
		<td>
			
		</td>
	</tr>
</table>

