<body>
	<table id='tablaSentencias'>
		<tr tipo='repetibleSentencia'>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			</td>
		</tr>
	</table>
	<table border='1'>
		<tr>
			<td colspan='2'>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<script>
	</script>
</body>