<body>
	<script src='Mnf.js'></script>
	<script>
		c=z('');
		f[0]=y(1);
		f[1]=br(2,3,4);
		f[2]=yg(5,6,7);
		f[7]=y(1);
		f[3]=yg(8,9,10);
		f[10]=g(1);
		f[5]=b(4);
		f[8]=r(4);
		f[4]=yg(11,12,13);
		f[13]=x();
		f[11]=b(4);
		f[12]=r(4);
		e();
	</script>
</body>