<body>
	<script src='Mnf.js'></script>
	<script>
		c=z('brbrbbrrbbr');
		f[0]=br(1,2,5);
		f[1]=br(1,3,5);
		f[2]=br(4,2,5);
		f[3]=br(1,3,99);
		f[4]=br(4,2,99);
		f[5]=x();
		e();
	</script>
</body>