<body>
	<script src='Mnf.js'></script>
	<script>
		c=z('rrrrrrrr');
		f[0]=y(1);
		f[1]=yg(2,99,3);
		f[2]=y(10);
		f[3]=g(4)
		f[4]=br(5,6,99);
		f[5]=b(7);
		f[6]=r(7);
		f[7]=br(8,9,99);
		f[8]=b(1);
		f[9]=r(1);
		f[10]=yg(99,11,12);
		f[12]=br(16,17,99);
		f[11]=g(13);
		f[13]=br(14,15,99);
		f[14]=b(10);
		f[15]=r(10);
		f[16]=yg(18,19,99);
		f[17]=yg(20,21,99);
		f[19]=g(22);
		f[20]=y(46);
		f[21]=g(23);
		f[22]=b(24);
		f[23]=r(24);
		f[24]=br(25,26,99);
		f[25]=br(33,27,99);
		f[26]=br(28,29,99);
		f[27]=yg(30,31,99);
		f[28]=yg(38,39,99);
		f[29]=yg(40,41,99);
		f[30]=y(62);
		f[31]=g(32);
		f[32]=b(23);
		f[33]=yg(34,35,99);
		f[35]=g(36);
		f[36]=b(22);
		f[39]=g(42);
		f[40]=y(44);
		f[41]=g(43);
		f[42]=r(22);
		f[43]=r(23);
		f[44]=r(45);
		f[45]=r(10);
		f[46]=r(47);
		f[47]=br(48,49,50);
		f[48]=b(47);
		f[49]=r(47);
		f[50]=g(51);
		f[51]=yg(52,53,54);
		f[52]=y(56);
		f[53]=br(54,55,99);
		f[54]=b(51);
		f[55]=r(51);
		f[56]=br(57,58,60);
		f[57]=b(56);
		f[58]=r(56);
		f[60]=yg(99,61,99);
		f[61]=x();
		f[62]=b(45);
		e();
gbgbgbryrr
	</script>
</body>