<body>
	<script src='Mnf.js'></script>
	<script>
		c=z('rrrrrrrr');
		f[0]=g(1);
		f[1]=br(2,3,4);
		f[2]=b(5);
		f[3]=r(5);
		f[5]=y(6);
		f[6]=br(7,8,9);
		f[7]=b(40);
		f[8]=r(40);
		f[40]=yg(99,38,10);
		f[10]=g(11);
		f[11]=br(12,13,14);
		f[12]=b(11);
		f[13]=r(11);
		f[14]=yg(99,15,99);
		f[15]=g(16);
		f[16]=br(17,18,19);
		f[17]=b(16);
		f[18]=r(16);
		f[19]=yg(20,99,99);
		f[20]=br(21,22,23);
		f[21]=b(23);
		f[22]=r(23);
		f[23]=y(24);
		f[24]=br(25,26,27);
		f[25]=b(24);
		f[26]=r(24);
		f[27]=yg(99,28,99);
		f[28]=br(29,30,99);
		f[29]=br(31,32,99);
		f[30]=br(33,34,99);
		f[31]=b(35);
		f[32]=b(36);
		f[33]=r(35);
		f[34]=r(36);
		f[35]=b(37);
		f[36]=r(37);
		f[37]=yg(99,38,39);
		f[38]=x();
		f[39]=g(11);
		e();
	</script>
</body>