<body>
<textarea id='entrada' cols='50' rows='10'>
{
  "data": {
    "commerceInformation": {
      "commerceName": "Gato Dounts Pretzel S.A.S.",
      "account": {
        "typeAccount": "CUENTA_DE_AHORRO",
        "numberAccount": 855685478541
      },
      "identification": {
        "type": "TIPDOC_FS001",
        "number": "1020123455"
      },
      "category": "BAS",
      "branch": "Gato Dounts Pretzel Sede 1",
      "mobilePhone": "3043352455",
      "amount": 67547738217.1,
      "qrCallBack": "url://responsetothisurl.com",
      "idRequets": "a4ac1d57-44a9-42b6-b3cc-c0e6d981f497",
      "qrInformation": {
        "qrType": "STA",
        "transactionPurpose": "COMPRA"
      },
      "termCondition": {
        "dateTime": "2020-12-24T12:00:00",
        "status": "TRUE",
        "version": "V1"
      }
    }
  }
}
</textarea>
<textarea id='salida' cols='50' rows='10'></textarea>
<script>
function rx(txt){
	var r="";
	var e=0;
	for(var i=0;i<txt.length;i++){
		if(txt.charAt(i)=='"'){
			if(e==0){
				e=1;
			}else{
				e=0;
			}
			r+="\\";
		}
		if(txt.charAt(i)==' '&&e==0){
			continue;
		}
		if(txt.substring(i).startsWith("\n")||txt.substring(i).startsWith("\r")){
		}else{
			//r+=txt.substring(i,1);
			r+=txt.charAt(i);
		}
	}
	return r;
}
console.log(rx(document.getElementById('entrada').value));
</script>
</body>